/*=================================================
*  Reset Elements
=================================================== */
* {
    box-sizing: border-box;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}

div {
    display: block;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}