.rt-btn {
    color: $color-base;
    display: inline-block;
    padding: 8px 25px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background-color: $color-info;
    background-image: none;
    touch-action: manipulation;
    transition: .2s linear;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    i {
        margin-right: 6px;
    }

    &:focus,
    &:hover {
        text-decoration: none;
        color: $color-base;
        background-color: lighten($color-info, 10%);
    }

    &:active {
        box-shadow: $box-shadow;
    }

    &.disabled,
    &.is-disabled,
    &:disabled[disabled],
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

[role="button"],
a,
button,
input,
label,
select,
textarea {
    touch-action: manipulation;
}

/*=================================================
*  BUTTON SIZE
=================================================== */

.rt-btn--sm {
    font-size: 12px;
    padding: 5px 8px;
}

.rt-btn--lg {
    font-size: 16px;
    padding: 12px 30px;
}

.rt-btn--block {
    width: 100%;
    display: block;
}

/*=================================================
*  BUTTON COLOR
=================================================== */

.rt-btn--primary {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:focus,
    &:hover {
        text-decoration: none;
        color: $button-primary-color;
        background-color: lighten($button-primary-background, 10%);
    }


}

.rt-btn--second {
    background-color: $button-second-background;
    color: $button-second-color;

    &:focus,
    &:hover {
        color: $button-second-color;
        background-color: lighten($button-second-background, 10%);
    }


}

.rt-btn--dark {
    background-color: #333333;

    &:focus,
    &:hover {
        background-color: #222222;
    }


}

.rt-btn--warning {
    background-color: $color-warning;

    &:focus,
    &:hover {
        text-decoration: none;
        background-color: lighten($color-warning, 10%);
    }


}

.rt-btn--danger {
    background-color: $color-danger;

    &:focus,
    &:hover {
        background-color: lighten($color-danger, 10%);
    }


}

.rt-btn--success {
    background-color: $color-success;

    &:focus,
    &:hover {
        background-color: lighten($color-success, 10%);
    }
}

.rt-btn--whatsapp {
    background-color: #25D366;

    &:focus,
    &:hover {
        background-color: lighten(#25D366, 10%);
    }


}

.rt-btn--action {
    background-color: $color-action;
    border-color: $color-action;

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($color-action, 10);
        border-color: lighten($color-action, 10);
    }


}

/*=================================================
*  BUTTON STYLE
=================================================== */

.rt-btn--rounded {
    border-radius: 100px;
}

.rt-btn--square {
    border-radius: 0;
}

.rt-btn--round {
    border-radius: 3px;
}

.rt-btn--block {
    width: 100%;
}

.rt-btn--border {
    color: $color-second;
    background: transparent;
    border: 1px solid $border-color;

    &:hover,
    &:focus {
        background: transparent;
        border: 1px solid $color-brand;
        color: $color-brand;
    }
}