/**
 * version 1.1.0
 * */

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-row {
    margin-left: -15px!important;
    margin-right: -15px!important;
}

.flex-grow {
    flex-grow: 1;
}


.section-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    .page-container{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

hr{
    border: none;
    border-top: 1px solid $border-color;
    margin: 30px 0;
}

.section-full--gray {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $gray-light;
}

/*=================================================
*  FLEX CONTAINER
=================================================== */

@each $container_key,
$container in $containers {
    @include media-min($container_key) {
        .page-container {
            max-width: $container;
        }
    }
}

.page-container {
    padding-left: $grid-gap/2;
    padding-right: $grid-gap/2;
    margin-left: auto;
    margin-right: auto;
}

/*=================================================
*  FLEX GRID
=================================================== */

@each $breakpoint in map-keys($breakpoints) {
    @include media-min($breakpoint) {
        @for $i from 1 through $grid-columns {
            .flex-#{$breakpoint}-#{$i} {
                flex: if($i > 0, 0 0 percentage($i / $grid-columns), 100%);
                max-width: if($i > 0, percentage($i / $grid-columns), 100%);
            }
        }
    }
}

.flex-item,
*[class*="flex-cols-"]>.flex-item,
*[class*="flex-xl-"],
*[class*="flex-lg-"],
*[class*="flex-md-"],
*[class*="flex-sm-"],
*[class*="flex-xs-"] {
    padding-left: $grid-gap/2;
    padding-right: $grid-gap/2;
    position: relative;
    display: block;
    width: 100%;
}

/*=================================================
*  FLEX COLUMN
=================================================== */

@each $breakpoint in map-keys($breakpoints) {
    @include media-min($breakpoint) {
        @for $i from 1 through $grid-columns {
            .flex-cols-#{$breakpoint}-#{$i} {
                >.flex-item {
                    flex: if($i > 0, 0 0 percentage($i / $grid-columns), 100%);
                    max-width: if($i > 0, percentage($i / $grid-columns), 100%);
                }
            }
        }
    }
}

/*=================================================
*  OFFSET
=================================================== */

// @each $modifier in (pull, push, offset) {
//   @each $breakpoint in map-keys($breakpoints) {
//     @for $i from 0 through $grid-columns {
//       @include media-min($breakpoint) {
//         @for $i from 1 through $grid-columns {
//           .flex-#{$breakpoint}-#{$modifier}-#{$i} {
//             @include make-col-modifier($modifier, $i, $grid-columns);
//           }
//         }
//       }
//     }
//   }
// }
/*=================================================
*  ALIGMENT
=================================================== */

@each $key,
$flex-aligment in (start: flex-start, left: flex-start, center: center, end: flex-end, right: flex-end, top: flex-start, middle: center, bottom: flex-end) {
    .flex-#{$key} {
        @if $key=="start"or $key=="left"or $key=="center"or $key=="end"or $key=="right" {
            justify-content: #{$flex-aligment};
        }

        @else {
            align-items: #{$flex-aligment};
        }
    }

    // @each $breakpoint in map-keys($breakpoints) {
    //   @include media($breakpoint) {
    //     .flex-#{$breakpoint}-#{$key} {
    //       @if $key==
    //         "start" or
    //         $key==
    //         "left" or
    //         $key==
    //         "center" or
    //         $key==
    //         "end" or
    //         $key==
    //         "right"
    //       {
    //         justify-content: #{$flex-aligment};
    //       } @else {
    //         align-items: #{$flex-aligment};
    //       }
    //     }
    //   }
    // }
}

/*=================================================
*  DISTRIBUTION
=================================================== */

@each $key,
$flex-distribution in (around: space-around, between: space-between) {
    .flex-#{$key} {
        justify-content: #{$flex-distribution};
    }

    // @each $breakpoint in map-keys($breakpoints) {
    //   @include media($breakpoint) {
    //     .flex-#{$breakpoint}-#{$key} {
    //       justify-content: #{$flex-distribution};
    //     }
    //   }
    // }
}

/*=================================================
*  REVERSING
=================================================== */

// @each $breakpoint in map-keys($breakpoints) {
//   .flex-reverse {
//     flex-direction: row-reverse;
//   }
//   @include media($breakpoint) {
//     .flex-#{$breakpoint}-reverse {
//       flex-direction: row-reverse;
//     }
//   }
// }
/*=================================================
*  FLEX COLUMN
=================================================== */

// @each $breakpoint in map-keys($breakpoints) {
//   .flex-column {
//     flex-direction: column;
//   }
//   @include media($breakpoint) {
//     .flex-#{$breakpoint}-column {
//       flex-direction: column;
//     }
//   }
// }
/*=================================================
*  COLUMN REVERSING
=================================================== */

// @each $breakpoint in map-keys($breakpoints) {
//   .flex-column-reverse {
//     flex-direction: column-reverse;
//   }
//   @include media($breakpoint) {
//     .flex-#{$breakpoint}-column-reverse {
//       flex-direction: column-reverse;
//     }
//   }
// }
/*=================================================
*  REORDERING
=================================================== */

// @each $breakpoint in map-keys($breakpoints) {
//   @for $i from 1 through $grid-columns {
//     .flex-order-#{$i} {
//       order: #{$i};
//     }
//     @include media($breakpoint) {
//       .flex-#{$breakpoint}-order-#{$i} {
//         order: #{$i};
//       }
//     }
//   }
// }
/*=================================================
*  GROW
=================================================== */

// @each $breakpoint in map-keys($breakpoints) {
//   @for $i from 1 through $grid-columns {
//     .flex-grow-#{$i} {
//       flex-grow: #{$i};
//     }
//     @include media($breakpoint) {
//       .flex-#{$breakpoint}-grow-#{$i} {
//         flex-grow: #{$i};
//       }
//     }
//   }
// }
/*=================================================
*  FLEX
=================================================== */

@each $breakpoint in map-keys($breakpoints) {
    @for $i from 1 through $grid-columns {
        .flex-#{$i} {
            flex: #{$i};
        }
    }
}

/*=================================================
*  GAP
=================================================== */

@each $key,
$gap in (small: 5, thin: 2, light: 1, less: 0) {
    .flex-gap-#{$key} {
        margin-left: -#{$gap}px;
        margin-right: -#{$gap}px;

        >.flex-item {
            padding-left: #{$gap}px;
            padding-right: #{$gap}px;
            margin-bottom: #{2 * $gap}px;
        }
    }
}

/*=================================================;
/* LOOP
/*================================================= */
.flex-loop {
    margin-bottom: 30px;

    @include media(sm) {
        margin-left: -$grid-gap/4;
        margin-right: -$grid-gap/4;
    }
}

.flex-loop>.flex-item {
    margin-bottom: 30px;

    @include media(sm) {
        padding-left: $grid-gap/4;
        padding-right: $grid-gap/4;
        margin-bottom: $grid-gap/2;
    }
}