/*=================================================;
/* Form
/*================================================= */

.rt-form {
    position: relative;
    margin-bottom: 15px;

    &__label {
        font-family: $font-primary;
        display: block;
        margin-bottom: 3px;
        z-index: 1;
    }

    &__input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 38px;
        padding: 8px 15px;
        border: 1px solid $border-color;
        border-radius: $border-radius;


        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px #61bdf7;
            border-color: #61bdf7!important;
        }
    }

    &__append {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    &__prepend {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    &__message {
        display: block;
        margin-top: 10px;
    }
}

textarea.rt-form__input {
    min-height: 90px;
    resize: none;
}

fieldset{
    border: 1px solid $border-color;
    margin-bottom: 15px;
}
/*=================================================
* FORM CHECBOX/RADIO
=================================================== */

.rt-form--radio,
.rt-form--checkbox {
    label {
        top: 1px;
        position: relative;
        margin-right: 9px;

        &:last-child {
            margin-right: 0;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

/*=================================================
*  FORM SELECT
=================================================== */

select {
    width: 100%;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border: 1px solid $border-color;
    padding: 0 8px;
    height: 37px;
    border-radius: $border-radius;
}

/*=================================================
*  SELECTION2
=================================================== */

.select2-container--default .select2-selection--single {
    border: 1px solid $border-color !important;
    border-radius: $border-radius !important;
    margin: 0 !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid $border-color;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 37px;
    line-height: 37px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border: 1px solid $border-color;
}

/*
current select2 result
*/

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
    background-color: $gray;
}

/*
active select2 result
*/

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $color-info;
}

/*=================================================
* FORM ALERT
=================================================== */

.rt-form--danger {
    .rt-form {
        &__label {
            color: $color-danger;
        }

        &__input {
            border-color: $color-danger !important;
        }

        &__message {
            display: block;
            margin-top: 10px;
            color: $color-danger;
        }
    }
}

/*=================================================
* MERGE BUTTON
=================================================== */

.rt-form--merge-btn {
    display: flex;
    flex-wrap: wrap;

    .rt-form__input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        flex: 1;
    }

    .rt-btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        margin: 0 !important;
    }
}

/*=================================================
* FORM INLINE
=================================================== */

.rt-form--inline {
    display: flex;
    flex-wrap: wrap;

    .rt-form__input,
    .rt-form__radio,
    .rt-form__checkbox {
        margin-right: 9px;

        &:last-child {
            margin-right: 0;
        }
    }

    .rt-btn {
        margin: 0 !important;
    }
}

/*=================================================;
/* FORM HAS ICON
/*================================================= */

.rt-form--prepend {
    .rt-form {
        &__input {
            padding-left: 30px;
        }
    }
}

.rt-form--append {
    .rt-form {
        &__input {
            padding-left: 30px;
        }
    }
}

/*=================================================;
/* FORM OVERLAY
/*================================================= */
$field-height-overlay : 53px;

.rt-form--overlay {
    margin-bottom: 10px;

    .rt-form__label {
        position: absolute;
        top: 15px;
        left: 15px;
        transition: 0.2s linear;
        color: $color-third !important;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .optional{
        font-size: 11px!important;
    }

    .rt-form__input,
    .input-text {
        color: transparent;
        height: $field-height-overlay;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rt-form__input::placeholder,
    .input-text::placeholder {
        color: transparent;
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 20px) 23px, calc(100% - 15px) 23px;
    }
}
.rt-form--overlay.is-active {
    .rt-form__label {
        font-size: rem(11px);
        line-height: 1;
        top: 12px;
        left: 14px;
        z-index: 1;
    }
    .rt-form__input,
    .input-text{
        color: $color-second;
        padding-top: 1.5em;
        padding-bottom: 0.35714em;
    }
    .rt-form__input::placeholder,
    .input-text::placeholder {
        color: $color-third!important;
    }
}

// address 2 screen reader
#billing_address_2_field .rt-form__input::placeholder,
#shipping_address_2_field .rt-form__input::placeholder {
      color: $color-third!important;
}
#billing_address_2_field.is-active .rt-form__input,
#shipping_address_2_field.is-active .rt-form__input {
    padding-top: 8px!important;
}

// Select 2
.rt-form--overlay .select2-container .select2-selection--single,
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: $field-height-overlay !important;
}

.rt-form--overlay .select2-container .select2-selection--single,
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__arrow, 
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: $field-height-overlay !important;
    line-height: 65px !important;
    font-size: 14px;
}
.rt-form--overlay .select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 10px;
}