/*=================================================
* IMAGE
=================================================== */
.rt-img {
    position: relative;
    overflow: hidden;

    img {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

}

.rt-img--cicle {
    border-radius: 50%;
}

.rt-img--rounded {
    border-radius: $border-radius;
}

.rt-img--full {
    img {
        width: 100%;
    }
}
.rt-img--center{
    margin-left: auto;
    margin-right: auto;
}
.rt-img--background {
    background-size: cover;
    background-position: center center;
    background-color: $gray;
    height: 120px;
}

/*=================================================
*  IMAGE ON CONTENT
=================================================== */
svg,
img,
embed,
object,
iframe {
    display: block;
    max-width: 100%;
}
img{
    height: auto;
}

/*=================================================
*  IMAGE RESPONSIVE
=================================================== */
.img-responsive {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}