.rt-table {
    border-radius: $border-radius;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    &__header {
        background: $gray-lighten;
    }
    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        background-color: $gray-light;
    }
    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        outline: none;
        th {
            vertical-align: bottom;
            border-bottom: 2px solid $border-color;
            padding: 8px;
            line-height: 1.4;
            text-align: left;
        }
        td {
            padding: 8px;
            line-height: 1.4;
            vertical-align: top;
            border-top: 1px solid $border-color;
            text-align: left;
        }
    }

}

/*=======================================
* TABLE ODD/EVENT
*=======================================*/

.rt-table--odd {
    tbody {
        tr:nth-child(odd) {
            background-color: $gray-light;
        }
    }
}

.rt-table--border {
    border: 1px solid $border-color;
}

.rt-table--center {
    tr {
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }
    }
}

.rt-table-responsive {
    overflow-x: auto;
}