/*=================================================
*  TYPO
=================================================== */

html {
    font-family: $font-second;
    font-weight: $font-regular;
    color: $color-second;
    font-size: $font-size;
    line-height: $line-height;

    @if $font-size-sm>0 {
        @include media(sm) {
            font-size: $font-size-sm;
        }
    }
}

head,
title {
    display: none;
}

/*=================================================
*  HEADING
=================================================== */
@each $key,
$font-size in $font-sizes {
    #{$key} {
        font-size: $font-size,
    }
}

@each $key,
$font-size in $font-sizes-sm {
    @include media(sm) {
        #{$key} {
            font-size: $font-size,
        }
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
    font-family: $font-primary;
    line-height: 1.2;
    padding: 0;
    margin-top: 0;
    margin-bottom: em(10px);

    @if $font-weight > 0 {
        font-weight: $font-weight;
    }
}

/*=================================================;
/* PARAGRAF
/*================================================= */

p {
    margin-top: 0;
    margin-bottom: em(10px);
}

/*=================================================
*  LINK
=================================================== */
a {
    color: $link;
    text-decoration: none;
    cursor: pointer;

    &:active,
    &:hover {
        color: darken($link, 5%);
        text-decoration: none;
    }

    &.disable {
        cursor: default;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
}



/*=================================================;
/* SMALL
/*================================================= */
small,
.text-small {
    font-size: 0.8em;
}

/*=================================================
*  BLOCKQUOTE
=================================================== */

blockquote {
    font-size: 1.1rem;
    position: relative;
    margin: em(15px);
    padding-top: em(15px);
    padding-bottom: em(5px);
    padding-left: em(60px);
    padding-right: em(15px);
    border: none;
    background-color: $gray-light;
    border: 1px solid $border-color;

    font-style: italic;

    cite {
        display: block;
        font-size: $font-size;
        color: $color-primary;
        font-weight: $font-weight;
    }

    &:before {
        position: absolute;
        top: 5px;
        left: 15px;
        color: $gray;
        font-family: FontAwesome;
        content: "\f10d";
        font-size: 30px;
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
    }
}

/*=======================================
* Code
*=======================================*/

code {
    display: block;
    background-color: $gray-light;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: em(15px) em(20px);
    margin-top: em(10px);
    margin-bottom: em(15px);
}


/*=================================================;
/* LIST
/*================================================= */
ul, ol{
    padding-left: em(30px);
    margin-top: 0;
    margin-bottom: em(10px);
}