/*=================================================
*  Dynamic Padding
=================================================== */
.no-padding {
    padding: 0 !important;
}
@each $spacing, $value in $spacing {
    $index: 0;
    @while $index < 100 {
        .p#{$value}-#{$index} {
            @if $spacing == 'all' {
                padding: #{$index}px !important;
            }
            @else {
                padding-#{$spacing}: #{$index}px !important;
            }
        }
        /* breakpoints  */
        // @each $breakpoint in map-keys($breakpoints) {
        //      @include media($breakpoint){
        //         .p#{$value}-#{$breakpoint}-#{$index} {
        //             @if $spacing == 'all' {
        //                 padding: #{$index}px !important;
        //             }
        //             @else {
        //                 padding-#{$spacing}: #{$index}px !important;
        //             }
        //         }
        //     }
        // }
        $index: $index + 5;
    }
}
