.template--fluid {
    .page-container {
        max-width: 100%;
    }
}

// frame layout
body.template--frame {
    @include media-min(md) {
        padding: 30px;
        background-color: $gray-light;
    }
}

.template--frame {
    .page-main {
        background-color: $color-base;
    }

    .rt-header.is-overlay,
    .rt-header.is-sticky {
        left: 30px;
        right: 30px;
    }
}

// boxed layout
body.template--boxed {
    background-color: $gray-light;
}

.template--boxed {
    .page-main {
        background-color: $color-base;
        margin-left: auto;
        margin-right: auto;
    }

    @each $container_key,
    $container in $containers {
        @include media-min($container_key) {

            .page-main,
            .rt-header.is-overlay,
            .rt-header.is-sticky {
                width: $container;
            }
        }
    }

    .rt-header.is-overlay,
    .rt-header.is-sticky {
        left: auto;
        right: auto;
    }
}

// template with half background
.template--half-background {
    @include media-min(lg) {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 36.55%;
            background: $gray-light;
            border-left: 1px solid $border-color;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}

// tempate for builder
.template--builder-container {
    .page-content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-wrapper {
        padding: 0;
    }
}

/*=================================================;
/* FOCUS
/*================================================= */
.ptf-wrapper{
    .page-container{
       
        @include media-min(sm){
             max-width: 490px;
        }
        @include media-min(lg){
              max-width: 1080px;
        }
    }
}
.ptf-header {
    background-color: $color-base;
    height: 60px;
    border-bottom: 1px solid $border-color;
    .page-container {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
        
    }

    .rt-logo {
        max-width: 180px;
    }
}
.ptf-body{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ptf-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $border-color;
    text-align: center;
}