.rt-main-canvas-menu {

    z-index: 999;
    .rt-btn {
        width: 100%;
    }

    .rt-header__html {
        color: $color-light-second;
    }

    .rt-sidepanel__inner {
        background-color: $navbar-sm-bg;
    }

    .rt-header__element {
        padding: 15px;
        border-bottom: 1px solid $navbar-sm-border-color;
    }

    .rt-sidepanel__body {
        padding: 0;
    }

    .rt-menu__main {
        background-color: transparent !important;
    }

    .rt-menu--vertical {
        .rt-menu {
            &__submenu {
                padding: 0;
                background-color: darken($navbar-sm-bg, 3);

                .rt-menu__item a {
                    color: $color-light-second;
                }
            }
        }
    }
}

/*=================================================;
/* DRAWER - DROPDOWN
/*================================================= */
.rt-main-canvas-menu--dropdown {
    z-index: -1;
    background-color: $navbar-sm-bg;
    box-shadow: 0 0 50px rgba(0, 0, 0, .15);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: calc(100vh - 57px);
}

/*=================================================;
/* DRAWER - LIGHT
/*================================================= */
.rt-main-canvas-menu--light {

    background-color: $color-base;


    .rt-header__element {
        border-bottom: 1px solid $border-color;
    }

    .rt-search {
        background-color: $gray-light;
    }

    .rt-header__html {
        color: $color-second;
    }


    .rt-sidepanel {
        &__header {
            background-color: $gray-light;
        }

        &__title {
            color: $color-primary;
        }

        &__close {
            color: $color-second;
        }

        &__inner {
            background-color: $color-base;
        }
    }

    .rt-menu--vertical {
        .rt-menu {
            &__item {
                a {
                    color: $color-second;
                    border-color: $border-color;

                }
            }

            &__arrow {
                background-color: $gray-light;

                i {
                    color: $color-second;
                }
            }

            &__submenu {
                padding: 0;
                background-color: $gray-light;

                .rt-menu__item a {
                    color: lighten($color-second, 15%);
                }

                .rt-menu__arrow {
                    background-color: darken($gray-light, 7);
                }
            }


        }
    }
}