.widget_calendar {
    caption {
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
    }

    thead {
        font-weight: bold;
        line-height: 2;
    }

    tbody {
        text-align: center;
    }

    tfoot td {
        padding-top: 15px;
    }

    #prev a {
        padding-left: 15px;
    }

    #next {
        text-align: right;
    }

    #next a {
        padding-right: 15px;
    }

    #next a,
    #prev a {
        color: $color-second;

        &:hover {
            color: $link;
        }
    }



    &.rt-widget--footer {

        #next a,
        #prev a {
            color: $color-light-second;

            &:hover {
                color: $link;
            }
        }
    }
}

.widget_calendar .calendar_wrap tbody td {
    padding: .4em;
    background: $gray-light;
    border: 1px solid #fff;
}
.widget_calendar .calendar_wrap tbody td#today{
     background: $border-color;
}

.widget_calendar .calendar_wrap tbody .pad {
    background: none;
}