.widget_recent_entries {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid $gray;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom-color: transparent;
        }
    }

    .post-date {
        font-size: rem(12px);
        display: block;
        color: $color-third;
    }

    &.rt-widget--footer {
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom-color: transparent;
        }

        .post-date {
            color: $color-light-thirdty;
        }
    }
}