.widget_media_gallery{
  .gallery{
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .gallery-item{
    margin: 0;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  a{
    display: block;
  }
  img{
    height: auto;
  }
}
