.rt-comment-form {
    margin-bottom: 20px;
}

.logged-in-as a {
    color: $color-third;
}

@include media-min(md) {
    .rt-comment-form.is-active .comment-input {
        display: flex !important;
        flex-flow: row wrap;
        margin-right: -10px;

        .rt-form {
            margin-right: 10px;
            flex: 1;
        }
    }
}