.rt-comment-list {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
        margin-left: 20px;
        list-style: none;
        margin: 0;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 30px;
        position: relative;
    }

    &__avatar {
        width: 70px;
        height: 70px;
        margin-right: 15px;

        img {
            border-radius: 100%;
        }
    }

    &__body {
        flex: 1;
    }

    &__title {
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: capitalize;
        position: relative;

        a {
            color: inherit;
        }
    }

    &__meta {
        position: absolute;
        right: 0;
        top: 0;
        color: $color-third;
        font-size: 12px;
    }

    &__author {
        margin-top: 0;
        font-size: 11px;
        margin-bottom: 0;
        text-transform: capitalize;
        background: $gray-darken;
        color: $color-base;
        padding: 3px 6px;
        display: inline-block;
        line-height: 1;
        border-radius: 100px;
    }

    &__content {
        padding: 15px;
        border-radius: $border-radius;
        border: 1px solid $border-color;
    }

    &__reply {
        position: absolute;
        bottom: 1px;
        right: 1px;
        padding: 5px 8px;
        color: $color-second;
        background-color: $gray-light;
        border: 1px solid $border-color;
        margin-right: -1px;
        margin-bottom: -1px;
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        font-size: 13px;
        line-height: 1;
        cursor: pointer;

        a {
            color: inherit;
        }

        i {
            margin-right: 5px;
        }

        &:hover {
            color: $color-base;
            background-color: $color-brand;
        }
    }

    &__approved {
        margin: 0;
        position: absolute;
        bottom: 1px;
        left: 86px;
        padding: 5px 8px;
        color: $color-base;
        background-color: $color-success;
        border-radius: $border-radius;
        font-size: 13px;
        line-height: 1;
    }
}

/*=================================================
*  COMMENT RESPONS
=================================================== */
.comment-respond {

    .comment_cancel-reply {
        float: right;
        font-size: 14px;
    }

    .comment-reply-title {
        a {
            color: inherit;
        }
    }
}