/*=================================================;
/* IMAGE BOX
/*================================================= */
.rt-image-box{
  &__thumbnail{
    margin-bottom: 10px;
  }
  &__title{
    font-size: 18px;
    margin-bottom: 10px;
    a{
      color: $color-primary;
      &:hover{
        color: $link-hover;
      }
    }
  }
}