.rt-list{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
    padding: 6px 12px;
  }
  i{
    margin-right: 5px;
  }
}

.rt-list--bordered{
  border: 1px solid $border-color;
  border-radius: $border-radius;
  li{
    border-bottom: 1px solid $border-color;
  }
}
.rt-list--simple{
  li{
    padding: 0;
    margin-bottom: 5px;
  }
}

.rt-list-row{
  margin-left: -12px;
  margin-right: -12px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  li{
    padding: 6px 12px;
    &:last-child{
      flex: 1;
    }
  }
  i{
    margin-right: 5px;
  }
}