.rt-loading {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#ffffff, 0.7);
        z-index: 98;
    }
   
}
.rt-loader-spin{
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#ffffff, .9);
        z-index: 98;
    }
    &:after{
            height: 1em;
            width: 1em;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -.5em;
            margin-top: -.5em;
            content: '';
            animation: spin 1s ease-in-out infinite;
            background: url(../images/icons/loader.svg) center center;
            background-size: auto;
            background-size: cover;
            line-height: 1;
            text-align: center;
            font-size: 2em;
            color: rgba(166, 166, 166, 0.75);
            z-index: 99;
            opacity: .5;
    }
}