.rt-preloading {
    display: none;
    position: fixed;
    background: #232f3c;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    i{
        font-size: 63px;
        margin-bottom: 30px;
    }
    &.is-active{
        display: flex;
    }
}