.rt-search {
    display: block;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &__inner {
        position: relative;
        margin-bottom: 0;
    }

    &__input {
        @extend .rt-form__input;
    }

    &__btn {
        position: absolute;
        border: none;
        background: transparent;
        height: 100%;
        top: 0;
        right: 5px;
    }
}

/*=================================================
* MAIN
/*================================================= */

.rt-search--main {
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    height: $search-height;

    .page-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .rt-search {
        &__inner {
            width: 100%;
            margin: 0;
        }

        &__input {
            display: block;
            width: 100%;
            height: inherit;
            color: $color-base;
            border-color: transparent;
            outline: none;
            background-color: transparent;
            font-size: 18px;
            padding-left: 30px;
        }

        &__icon {
            color: rgba(255, 255, 255, 0.3);
            font-size: 21px;

            &.ti-search {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__btn {
            display: none;
        }

        &__close {
            position: absolute;
            right: 15px;
            z-index: 9;
            cursor: pointer;

            &:hover {
                color: #fff;
            }
        }
    }
}

/*=================================================
*  SEARCH MODAL
=================================================== */

.rt-search--modal {
    @extend .rt-search--main;
    position: fixed;
    z-index: 99999;
    top: 0;
    height: auto;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;

    .page-container {
        align-items: flex-start;
        justify-content: center;
    }

    form {
        position: relative;
        margin-top: 120px;

        @include media-min(md) {
            width: 800px;
        }
    }

    .rt-search {
        &__overlay {
            background-color: $color-backdrop;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        &__input {
            border-bottom: 2px solid rgba(255, 255, 255, .3);
            padding: 15px;
            padding-left: 30px;
            font-weight: 400;

            @include media-min(md) {
                font-size: 35px;
                padding: 20px 30px;
            }
        }

        &__inner {
            margin-top: 100px;
            display: none;

            @include media-min(md) {
                width: 600px;
                margin-top: 200px;
            }
        }

        &__icon {
            font-size: 18px;
            color: $color-base;
        }

        &__icon.ti-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &__close {
            position: absolute;
            top: 60px;
            right: 30px;
        }
    }
}

/*=================================================
* DROPDWON
/*================================================= */

.rt-search--dropdown {
    @extend .rt-search--main;
    background-color: $dark-primary;
    z-index: -1;

    .page-container {
        height: 100%;
    }
}

/*=================================================
*  OVERLAY
=================================================== */

.rt-search--overlay {
    @extend .rt-search--main;
     background-color: $dark-primary;
    top: 0;
    z-index: 99;
}

.rt-header.is-overlay .rt-search--overlay,
.rt-header.is-sticky .rt-search--overlay {
    top: 0 !important;
}

/*=================================================
*  SMALL
=================================================== */

.rt-menu.rt-search--dropdown,
.rt-menu.rt-search--overlay {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;

    .rt-search {

        &__input,
        &__icon {
            font-size: 18px;
        }
    }
}

.rt-menu.rt-search---modal {
    padding-left: 15px;
    padding-right: 15px;

    .rt-search {

        &__input,
        &__icon {
            font-size: 18px;
        }
    }
}