.owl-carousel {
  opacity: 0;
  transition: 0.3s;
  &.owl-loaded {
    opacity: 1;
  }
}

.rt-slider {
  &__item {
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s all ease-in-out;
  }
  &__main {
    position: relative;
  }
  &__group {
    position: relative;
  }
  &__thumbnail {
    height: 500px;
    background-size: cover;
    background-position: center center;
  }
  &__inner {
    z-index: 9;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  &__body {
    max-width: 80%;
    padding: 30px;
    z-index: 9;
  }
  &__title {
    color: $color-base;
    font-size: 34px;
    line-height: 42px;
    a {
      color: $color-base;
    }
  }
  &__subtitle {
    color: $color-base;
  }
  &__content {
    color: $color-base;
  }
  &__meta {
    color: $color-base;
  }
  &__nav {
    a {
      z-index: 9;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 38px;
      min-width: 38px;
      text-align: center;
      background: $color-base;
      color: $color-primary;
      border-radius: $border-radius;
      cursor: pointer;
      &:hover {
        color: $color-second;
      }
    }
    .is-disable {
      background-color: $gray-dark;
      cursor: disable;
    }
  }
  &__prev {
    left: 10px;
    i {
      margin-left: 7px;
    }
  }
  &__next {
    right: 10px;
    i {
      margin-right: 7px;
    }
  }
  .owl-item{
    margin-bottom: 30px;
  }
  .owl-item > .flex-item {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
  .owl-next,
  .owl-prev {
    border-radius: $border-radius;
  }
  .owl-stage {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

/*=================================================;
/* SLIDER THUMBNAIL
/*================================================= */

.rt-slider--thumbnail {
  .rt-slider {
    &__group {
      .owl-item {
        cursor: pointer;
        &.is-current {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
          }
          &::after {
            border-color: #fff transparent transparent;
            border-style: solid;
            border-width: 10px 10px 0;
            content: "";
            right: 0;
            left: 0;
            width: 10px;
            margin: auto;
            position: absolute;
            top: 0;
            z-index: 2;
          }
        }
      }
    }
  }
}

/*=================================================;
/* NAVIGATION
/*================================================= */

.rt-slider {
  .owl-nav {
    .disabled {
      display: none;
    }
  }
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 38px;
    line-height: 42px;
    margin: 0;
    text-align: center;
    border-radius: 0;
    background-color: rgba(#000000, 0.8) !important;
    i {
      color: $color-base;
    }
  }
  .owl-prev {
    left: 15px;
  }
  .owl-next {
    right: 15px;
  }
}

/*=================================================;
/* PAGINATION
/*================================================= */

.rt-slider {
  .owl-dots {
    margin-top: 15px;
    text-align: center;
    .owl-dot {
      span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: $gray;
        display: block;
        transition: opacity 0.2s ease;
        border-radius: 30px;
      }
      &.active span {
        background: $color-brand;
      }
    }
  }
}

/* pagination insert wrapper*/

.rt-slider--pagination-inner {
  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
