.rt-header .customize-partial-edit-shortcut,
.rt-menu--mobile .customize-partial-edit-shortcut {
  display: none !important;
}

.kirki-customizer-loading-wrapper {
  background-image: none !important;
}
