/*=================================================
*  GRID
=================================================== */

/*=================================================
*  BREAKPOINTS
=================================================== */

/*=================================================
*  CONTAINERS
=================================================== */

/*=================================================
*  FONT
=================================================== */

/* Font Weight */

/* Font Color*/

/* Font Color light */

/* Font Size */

/*=================================================
*  Default Color
=================================================== */

/*=================================================
*  Link Color
=================================================== */

/*=================================================
*  GRAY
=================================================== */

/*=================================================
*  DARK
=================================================== */

/*=================================================
*  BORDER
=================================================== */

/*=================================================
*  SOCIAL MEDIA
=================================================== */

/*=================================================
*  SHAWDOW
=================================================== */

/*=================================================;
/* BUTTON
/*================================================= */

/*=================================================;
/* BADGES
/*================================================= */

/*=================================================;
/* PAGINATION
/*================================================= */

/*=================================================
*  NAVBAR
=================================================== */

/*=================================================
*  SUBMENU LG
=================================================== */

/*=================================================
*  NAVBAR SMALL
=================================================== */

/*=================================================
*  NAVBAR FULL
=================================================== */

/*=================================================
*  NAVBAR SEARCH
=================================================== */

/*=================================================
*  FONT
=================================================== */

/* Font Weight */

/* Font Color*/

/* Font Size */

/*=================================================
*  Default Color
=================================================== */

/*=================================================
*  Link Color
=================================================== */

/*=================================================
*  GRAY
=================================================== */

/*=================================================;
/* DARK
/*================================================= */

/*=================================================
*  BORDER
=================================================== */

/*=================================================;
/* BUTTON
/*================================================= */

/*=================================================;
/* BADGES
/*================================================= */

/*=================================================;
/* PAGINATION
/*================================================= */

/*=======================================
* MEDIA MAX
*=======================================*/

/*=======================================
* MEDIA MIN
*=======================================*/

/*=======================================
* MEDIA ONLY
*=======================================*/

/*=======================================
* MEDIA RANGE
*=======================================*/

/*=======================================
* MANUAL BREAKPOINT
*=======================================*/

/*=================================================
*  GRID MIXIN
=================================================== */

/*=================================================
*  LINK MIXIN
=================================================== */

.border-all {
	border: 1px solid #d9d9d9;
}

.border-left {
	border-left: 1px solid #d9d9d9;
}

.border-right {
	border-right: 1px solid #d9d9d9;
}

.border-top {
	border-top: 1px solid #d9d9d9;
}

.border-bottom {
	border-bottom: 1px solid #d9d9d9;
}

/*=================================================
*  FLOAT
=================================================== */

.float-center {
	float: none !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*=================================================
*  State
=================================================== */

.is-hidden {
	display: none !important;
}

.is-hidden {
	display: none !important;
}

.is-hidden {
	display: none !important;
}

.is-hidden {
	display: none !important;
}

.is-hidden {
	display: none !important;
}

.is-hidden {
	display: none !important;
}

/*=================================================
*  Dynamic Margin
=================================================== */

.no-margin {
	margin: 0 !important;
}

.mall-0 {
	margin: 0px !important;
}

/* breakpoints  */

.mall-5 {
	margin: 5px !important;
}

/* breakpoints  */

.mall-10 {
	margin: 10px !important;
}

/* breakpoints  */

.mall-15 {
	margin: 15px !important;
}

/* breakpoints  */

.mall-20 {
	margin: 20px !important;
}

/* breakpoints  */

.mall-25 {
	margin: 25px !important;
}

/* breakpoints  */

.mall-30 {
	margin: 30px !important;
}

/* breakpoints  */

.mall-35 {
	margin: 35px !important;
}

/* breakpoints  */

.mall-40 {
	margin: 40px !important;
}

/* breakpoints  */

.mall-45 {
	margin: 45px !important;
}

/* breakpoints  */

.mall-50 {
	margin: 50px !important;
}

/* breakpoints  */

.mall-55 {
	margin: 55px !important;
}

/* breakpoints  */

.mall-60 {
	margin: 60px !important;
}

/* breakpoints  */

.mall-65 {
	margin: 65px !important;
}

/* breakpoints  */

.mall-70 {
	margin: 70px !important;
}

/* breakpoints  */

.mall-75 {
	margin: 75px !important;
}

/* breakpoints  */

.mall-80 {
	margin: 80px !important;
}

/* breakpoints  */

.mall-85 {
	margin: 85px !important;
}

/* breakpoints  */

.mall-90 {
	margin: 90px !important;
}

/* breakpoints  */

.mall-95 {
	margin: 95px !important;
}

/* breakpoints  */

.mt-0 {
	margin-top: 0px !important;
}

/* breakpoints  */

.mt-5 {
	margin-top: 5px !important;
}

/* breakpoints  */

.mt-10 {
	margin-top: 10px !important;
}

/* breakpoints  */

.mt-15 {
	margin-top: 15px !important;
}

/* breakpoints  */

.mt-20 {
	margin-top: 20px !important;
}

/* breakpoints  */

.mt-25 {
	margin-top: 25px !important;
}

/* breakpoints  */

.mt-30 {
	margin-top: 30px !important;
}

/* breakpoints  */

.mt-35 {
	margin-top: 35px !important;
}

/* breakpoints  */

.mt-40 {
	margin-top: 40px !important;
}

/* breakpoints  */

.mt-45 {
	margin-top: 45px !important;
}

/* breakpoints  */

.mt-50 {
	margin-top: 50px !important;
}

/* breakpoints  */

.mt-55 {
	margin-top: 55px !important;
}

/* breakpoints  */

.mt-60 {
	margin-top: 60px !important;
}

/* breakpoints  */

.mt-65 {
	margin-top: 65px !important;
}

/* breakpoints  */

.mt-70 {
	margin-top: 70px !important;
}

/* breakpoints  */

.mt-75 {
	margin-top: 75px !important;
}

/* breakpoints  */

.mt-80 {
	margin-top: 80px !important;
}

/* breakpoints  */

.mt-85 {
	margin-top: 85px !important;
}

/* breakpoints  */

.mt-90 {
	margin-top: 90px !important;
}

/* breakpoints  */

.mt-95 {
	margin-top: 95px !important;
}

/* breakpoints  */

.mr-0 {
	margin-right: 0px !important;
}

/* breakpoints  */

.mr-5 {
	margin-right: 5px !important;
}

/* breakpoints  */

.mr-10 {
	margin-right: 10px !important;
}

/* breakpoints  */

.mr-15 {
	margin-right: 15px !important;
}

/* breakpoints  */

.mr-20 {
	margin-right: 20px !important;
}

/* breakpoints  */

.mr-25 {
	margin-right: 25px !important;
}

/* breakpoints  */

.mr-30 {
	margin-right: 30px !important;
}

/* breakpoints  */

.mr-35 {
	margin-right: 35px !important;
}

/* breakpoints  */

.mr-40 {
	margin-right: 40px !important;
}

/* breakpoints  */

.mr-45 {
	margin-right: 45px !important;
}

/* breakpoints  */

.mr-50 {
	margin-right: 50px !important;
}

/* breakpoints  */

.mr-55 {
	margin-right: 55px !important;
}

/* breakpoints  */

.mr-60 {
	margin-right: 60px !important;
}

/* breakpoints  */

.mr-65 {
	margin-right: 65px !important;
}

/* breakpoints  */

.mr-70 {
	margin-right: 70px !important;
}

/* breakpoints  */

.mr-75 {
	margin-right: 75px !important;
}

/* breakpoints  */

.mr-80 {
	margin-right: 80px !important;
}

/* breakpoints  */

.mr-85 {
	margin-right: 85px !important;
}

/* breakpoints  */

.mr-90 {
	margin-right: 90px !important;
}

/* breakpoints  */

.mr-95 {
	margin-right: 95px !important;
}

/* breakpoints  */

.mb-0 {
	margin-bottom: 0px !important;
}

/* breakpoints  */

.mb-5 {
	margin-bottom: 5px !important;
}

/* breakpoints  */

.mb-10 {
	margin-bottom: 10px !important;
}

/* breakpoints  */

.mb-15 {
	margin-bottom: 15px !important;
}

/* breakpoints  */

.mb-20 {
	margin-bottom: 20px !important;
}

/* breakpoints  */

.mb-25 {
	margin-bottom: 25px !important;
}

/* breakpoints  */

.mb-30 {
	margin-bottom: 30px !important;
}

/* breakpoints  */

.mb-35 {
	margin-bottom: 35px !important;
}

/* breakpoints  */

.mb-40 {
	margin-bottom: 40px !important;
}

/* breakpoints  */

.mb-45 {
	margin-bottom: 45px !important;
}

/* breakpoints  */

.mb-50 {
	margin-bottom: 50px !important;
}

/* breakpoints  */

.mb-55 {
	margin-bottom: 55px !important;
}

/* breakpoints  */

.mb-60 {
	margin-bottom: 60px !important;
}

/* breakpoints  */

.mb-65 {
	margin-bottom: 65px !important;
}

/* breakpoints  */

.mb-70 {
	margin-bottom: 70px !important;
}

/* breakpoints  */

.mb-75 {
	margin-bottom: 75px !important;
}

/* breakpoints  */

.mb-80 {
	margin-bottom: 80px !important;
}

/* breakpoints  */

.mb-85 {
	margin-bottom: 85px !important;
}

/* breakpoints  */

.mb-90 {
	margin-bottom: 90px !important;
}

/* breakpoints  */

.mb-95 {
	margin-bottom: 95px !important;
}

/* breakpoints  */

.ml-0 {
	margin-left: 0px !important;
}

/* breakpoints  */

.ml-5 {
	margin-left: 5px !important;
}

/* breakpoints  */

.ml-10 {
	margin-left: 10px !important;
}

/* breakpoints  */

.ml-15 {
	margin-left: 15px !important;
}

/* breakpoints  */

.ml-20 {
	margin-left: 20px !important;
}

/* breakpoints  */

.ml-25 {
	margin-left: 25px !important;
}

/* breakpoints  */

.ml-30 {
	margin-left: 30px !important;
}

/* breakpoints  */

.ml-35 {
	margin-left: 35px !important;
}

/* breakpoints  */

.ml-40 {
	margin-left: 40px !important;
}

/* breakpoints  */

.ml-45 {
	margin-left: 45px !important;
}

/* breakpoints  */

.ml-50 {
	margin-left: 50px !important;
}

/* breakpoints  */

.ml-55 {
	margin-left: 55px !important;
}

/* breakpoints  */

.ml-60 {
	margin-left: 60px !important;
}

/* breakpoints  */

.ml-65 {
	margin-left: 65px !important;
}

/* breakpoints  */

.ml-70 {
	margin-left: 70px !important;
}

/* breakpoints  */

.ml-75 {
	margin-left: 75px !important;
}

/* breakpoints  */

.ml-80 {
	margin-left: 80px !important;
}

/* breakpoints  */

.ml-85 {
	margin-left: 85px !important;
}

/* breakpoints  */

.ml-90 {
	margin-left: 90px !important;
}

/* breakpoints  */

.ml-95 {
	margin-left: 95px !important;
}

/* breakpoints  */

/*=================================================
*  Offset Margin
=================================================== */

/*=================================================
*  Dynamic Padding
=================================================== */

.no-padding {
	padding: 0 !important;
}

.pall-0 {
	padding: 0px !important;
}

/* breakpoints  */

.pall-5 {
	padding: 5px !important;
}

/* breakpoints  */

.pall-10 {
	padding: 10px !important;
}

/* breakpoints  */

.pall-15 {
	padding: 15px !important;
}

/* breakpoints  */

.pall-20 {
	padding: 20px !important;
}

/* breakpoints  */

.pall-25 {
	padding: 25px !important;
}

/* breakpoints  */

.pall-30 {
	padding: 30px !important;
}

/* breakpoints  */

.pall-35 {
	padding: 35px !important;
}

/* breakpoints  */

.pall-40 {
	padding: 40px !important;
}

/* breakpoints  */

.pall-45 {
	padding: 45px !important;
}

/* breakpoints  */

.pall-50 {
	padding: 50px !important;
}

/* breakpoints  */

.pall-55 {
	padding: 55px !important;
}

/* breakpoints  */

.pall-60 {
	padding: 60px !important;
}

/* breakpoints  */

.pall-65 {
	padding: 65px !important;
}

/* breakpoints  */

.pall-70 {
	padding: 70px !important;
}

/* breakpoints  */

.pall-75 {
	padding: 75px !important;
}

/* breakpoints  */

.pall-80 {
	padding: 80px !important;
}

/* breakpoints  */

.pall-85 {
	padding: 85px !important;
}

/* breakpoints  */

.pall-90 {
	padding: 90px !important;
}

/* breakpoints  */

.pall-95 {
	padding: 95px !important;
}

/* breakpoints  */

.pt-0 {
	padding-top: 0px !important;
}

/* breakpoints  */

.pt-5 {
	padding-top: 5px !important;
}

/* breakpoints  */

.pt-10 {
	padding-top: 10px !important;
}

/* breakpoints  */

.pt-15 {
	padding-top: 15px !important;
}

/* breakpoints  */

.pt-20 {
	padding-top: 20px !important;
}

/* breakpoints  */

.pt-25 {
	padding-top: 25px !important;
}

/* breakpoints  */

.pt-30 {
	padding-top: 30px !important;
}

/* breakpoints  */

.pt-35 {
	padding-top: 35px !important;
}

/* breakpoints  */

.pt-40 {
	padding-top: 40px !important;
}

/* breakpoints  */

.pt-45 {
	padding-top: 45px !important;
}

/* breakpoints  */

.pt-50 {
	padding-top: 50px !important;
}

/* breakpoints  */

.pt-55 {
	padding-top: 55px !important;
}

/* breakpoints  */

.pt-60 {
	padding-top: 60px !important;
}

/* breakpoints  */

.pt-65 {
	padding-top: 65px !important;
}

/* breakpoints  */

.pt-70 {
	padding-top: 70px !important;
}

/* breakpoints  */

.pt-75 {
	padding-top: 75px !important;
}

/* breakpoints  */

.pt-80 {
	padding-top: 80px !important;
}

/* breakpoints  */

.pt-85 {
	padding-top: 85px !important;
}

/* breakpoints  */

.pt-90 {
	padding-top: 90px !important;
}

/* breakpoints  */

.pt-95 {
	padding-top: 95px !important;
}

/* breakpoints  */

.pr-0 {
	padding-right: 0px !important;
}

/* breakpoints  */

.pr-5 {
	padding-right: 5px !important;
}

/* breakpoints  */

.pr-10 {
	padding-right: 10px !important;
}

/* breakpoints  */

.pr-15 {
	padding-right: 15px !important;
}

/* breakpoints  */

.pr-20 {
	padding-right: 20px !important;
}

/* breakpoints  */

.pr-25 {
	padding-right: 25px !important;
}

/* breakpoints  */

.pr-30 {
	padding-right: 30px !important;
}

/* breakpoints  */

.pr-35 {
	padding-right: 35px !important;
}

/* breakpoints  */

.pr-40 {
	padding-right: 40px !important;
}

/* breakpoints  */

.pr-45 {
	padding-right: 45px !important;
}

/* breakpoints  */

.pr-50 {
	padding-right: 50px !important;
}

/* breakpoints  */

.pr-55 {
	padding-right: 55px !important;
}

/* breakpoints  */

.pr-60 {
	padding-right: 60px !important;
}

/* breakpoints  */

.pr-65 {
	padding-right: 65px !important;
}

/* breakpoints  */

.pr-70 {
	padding-right: 70px !important;
}

/* breakpoints  */

.pr-75 {
	padding-right: 75px !important;
}

/* breakpoints  */

.pr-80 {
	padding-right: 80px !important;
}

/* breakpoints  */

.pr-85 {
	padding-right: 85px !important;
}

/* breakpoints  */

.pr-90 {
	padding-right: 90px !important;
}

/* breakpoints  */

.pr-95 {
	padding-right: 95px !important;
}

/* breakpoints  */

.pb-0 {
	padding-bottom: 0px !important;
}

/* breakpoints  */

.pb-5 {
	padding-bottom: 5px !important;
}

/* breakpoints  */

.pb-10 {
	padding-bottom: 10px !important;
}

/* breakpoints  */

.pb-15 {
	padding-bottom: 15px !important;
}

/* breakpoints  */

.pb-20 {
	padding-bottom: 20px !important;
}

/* breakpoints  */

.pb-25 {
	padding-bottom: 25px !important;
}

/* breakpoints  */

.pb-30 {
	padding-bottom: 30px !important;
}

/* breakpoints  */

.pb-35 {
	padding-bottom: 35px !important;
}

/* breakpoints  */

.pb-40 {
	padding-bottom: 40px !important;
}

/* breakpoints  */

.pb-45 {
	padding-bottom: 45px !important;
}

/* breakpoints  */

.pb-50 {
	padding-bottom: 50px !important;
}

/* breakpoints  */

.pb-55 {
	padding-bottom: 55px !important;
}

/* breakpoints  */

.pb-60 {
	padding-bottom: 60px !important;
}

/* breakpoints  */

.pb-65 {
	padding-bottom: 65px !important;
}

/* breakpoints  */

.pb-70 {
	padding-bottom: 70px !important;
}

/* breakpoints  */

.pb-75 {
	padding-bottom: 75px !important;
}

/* breakpoints  */

.pb-80 {
	padding-bottom: 80px !important;
}

/* breakpoints  */

.pb-85 {
	padding-bottom: 85px !important;
}

/* breakpoints  */

.pb-90 {
	padding-bottom: 90px !important;
}

/* breakpoints  */

.pb-95 {
	padding-bottom: 95px !important;
}

/* breakpoints  */

.pl-0 {
	padding-left: 0px !important;
}

/* breakpoints  */

.pl-5 {
	padding-left: 5px !important;
}

/* breakpoints  */

.pl-10 {
	padding-left: 10px !important;
}

/* breakpoints  */

.pl-15 {
	padding-left: 15px !important;
}

/* breakpoints  */

.pl-20 {
	padding-left: 20px !important;
}

/* breakpoints  */

.pl-25 {
	padding-left: 25px !important;
}

/* breakpoints  */

.pl-30 {
	padding-left: 30px !important;
}

/* breakpoints  */

.pl-35 {
	padding-left: 35px !important;
}

/* breakpoints  */

.pl-40 {
	padding-left: 40px !important;
}

/* breakpoints  */

.pl-45 {
	padding-left: 45px !important;
}

/* breakpoints  */

.pl-50 {
	padding-left: 50px !important;
}

/* breakpoints  */

.pl-55 {
	padding-left: 55px !important;
}

/* breakpoints  */

.pl-60 {
	padding-left: 60px !important;
}

/* breakpoints  */

.pl-65 {
	padding-left: 65px !important;
}

/* breakpoints  */

.pl-70 {
	padding-left: 70px !important;
}

/* breakpoints  */

.pl-75 {
	padding-left: 75px !important;
}

/* breakpoints  */

.pl-80 {
	padding-left: 80px !important;
}

/* breakpoints  */

.pl-85 {
	padding-left: 85px !important;
}

/* breakpoints  */

.pl-90 {
	padding-left: 90px !important;
}

/* breakpoints  */

.pl-95 {
	padding-left: 95px !important;
}

/* breakpoints  */

/*=================================================
*  Parent Style
=================================================== */

.parent-height {
	height: inherit !important;
}

.parent-line-height {
	line-height: inherit !important;
}

.parent-width {
	width: 100%;
}

.parent-color {
	color: inherit !important;
}

.parent-bg {
	background: inherit !important;
}

/*=================================================
*  Display
=================================================== */

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-static {
	position: static;
}

/*=================================================
*  TEXT TRANSFORM
=================================================== */

.text-capital {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

/*=================================================
*  FONT FAMILY
=================================================== */

.font-primary {
	font-family: "Poppins", sans-serif;
}

.font-second {
	font-family: "Roboto", sans-serif;
}

/*=================================================
*  TEXT ALIGMENT
=================================================== */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*=================================================
*  LINE
=================================================== */

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

/*=================================================
*  Text Color
=================================================== */

.texts-light {
	color: rgba(255, 255, 255, 0.6);
}

.texts-light h1,
.texts-light h2,
.texts-light h3,
.texts-light h4,
.texts-light h5,
.texts-light h6 {
	color: rgba(255, 255, 255, 0.7);
}

.texts-light h1 a,
.texts-light h2 a,
.texts-light h3 a,
.texts-light h4 a,
.texts-light h5 a,
.texts-light h6 a {
	color: inherit;
}

.texts-light h1 a:hover,
.texts-light h2 a:hover,
.texts-light h3 a:hover,
.texts-light h4 a:hover,
.texts-light h5 a:hover,
.texts-light h6 a:hover {
	color: inherit;
}

.texts-light a {
	color: rgba(255, 255, 255, 0.6);
}

.texts-light b,
.texts-light i,
.texts-light p,
.texts-light strong {
	color: rgba(255, 255, 255, 0.6);
}

.text-light {
	color: rgba(255, 255, 255, 0.7);
}

.text-lighten {
	color: rgba(255, 255, 255, 0.6);
}

.text-gray {
	color: rgba(255, 255, 255, 0.28);
}

/*=================================================
*  LINK
=================================================== */

.link-text {
	color: #3c3c3c;
}

.link-text:hover {
	color: #c284ae;
}

/*=================================================;
/* GLOBAL - BUTTON
/*================================================= */

.rt-btn,
.button {
	text-transform: uppercase;
	padding: 8px 25px;
	font-size: 13px;
}

/*=================================================;
/* GLOBAL - PAGINATION
/*================================================= */

.rt-pagination {
	justify-content: center;
}

.rt-pagination .page-numbers:hover,
.rt-pagination__item:hover {
	background-color: #b16298;
	border-color: #b16298;
	color: #fff;
}

.rt-pagination .page-numbers.current,
.rt-pagination__item.current {
	background-color: #222222;
	border-color: #222222;
	color: #fff;
}

/*=================================================;
/* GLOBAL - PAGE HEADER
/*================================================= */

.page-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-header__title {
	font-size: 27px;
	line-height: 1.4em;
}

.single .page-header {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*=================================================;
/* GLOBAL - FOOTER
/*================================================= */

.page-footer__widget {
	padding-top: 40px;
}

.page-footer__bottom {
	background-color: #222222;
	border-color: #333;
}

/*=================================================;
/* GLOBAL - BREADCRUMBS
/*================================================= */

.rt-breadcrumbs {
	text-align: center;
}

/*=================================================;
/* GLOBAL - WIDGET
/*================================================= */

.rt-widget--aside {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}

.rt-widget--aside .rt-widget__header {
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;
	background-color: transparent;
}

.rt-widget--aside__title {
	font-size: 1.28571rem;
}

/*=================================================;
/* GLOBAL - FORM
/*================================================= */

label {
	font-size: 14px;
	font-weight: 500;
}

/*=================================================;
/* WIDGETS - PRICE FILTER
/*================================================= */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 3px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
	height: 3px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #b16298;
	width: 12px;
	height: 12px;
	top: -5px;
}

/*=================================================;
/* WIDGETS - LISTS
/*================================================= */

.widget_archive li,
.widget_categories li,
.widget_list li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_product_categories li,
.widget_rss li,
.woocommerce-widget-layered-nav li {
	border: none;
}

/*=================================================;
/* WIDGETS - POST
/*================================================= */

.page-footer .rt-post-widget .rt-post {
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #333;
}

.page-footer .rt-post-widget .rt-post__title a {
	color: #fff;
	font-weight: medium;
	font-size: 14px;
	line-height: 20px;
}

.page-footer .rt-post-widget .rt-post:last-child {
	border: none;
}

/*=================================================;
/* WIDGETS - CALENDAR
/*================================================= */

.widget_calendar #today::before {
	background-color: #b16298;
	border-radius: 3px;
}

/*=================================================;
/* WIDGETS - POST TAB
/*================================================= */

.retheme-widget-post-tab.rt-widget--aside {
	padding: 15px;
	border: 1px solid #d9d9d9;
}

.rt-widget--aside .rt-tab__title::before {
	display: none;
}

.rt-widget--aside .rt-tab__nav li:last-child .rt-tab__title {
	border: none;
}

.rt-widget--aside.retheme-widget-post-tab .rt-tab li {
	flex-grow: 0;
}

.rt-widget--aside.retheme-widget-post-tab .rt-tab__nav {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 15px;
	justify-content: space-between;
}

.rt-widget--aside.retheme-widget-post-tab .rt-tab__title {
	background-color: #fff;
	border: none;
	padding: 0;
	padding-bottom: 10px;
}

.rt-widget--aside.retheme-widget-post-tab .rt-tab__title.is-active {
	color: #b16298;
}

.rt-widget--aside.retheme-widget-post-tab .rt-tab__body {
	border: none;
	padding: 0;
}

/*=================================================;
/* GLOBAL - GOTOP
/*================================================= */

.rt-gotop {
	border-radius: 3px;
}

/*=================================================;
/* PRODUCT - BADGES
/*================================================= */

.woocommerce span.onsale {
	padding: 3px 5px;
	border-radius: 3px;
}

/*=================================================;
/* PRODUCT - ARCHIVE
/*================================================= */

.rt-product__title {
	font-weight: 400;
}

.rt-product .button {
	text-transform: uppercase;
	font-size: 13px;
}

/*=================================================;
/* PRODUCT - BADGES
/*================================================= */

.woocommerce span.onsale {
	padding: 3px 5px;
	border-radius: 3px;
}

/*=================================================;
/* PRODUCT - TABS
/*================================================= */

.woocommerce-tabs {
	margin-top: 30px;
}

.woocommerce-tabs .tabs {
	text-align: center;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
	background-color: transparent !important;
	font-size: 1.28571rem;
	text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li.active {
	color: #b16298;
}

/*=================================================;
/* PRODUCT - REVIEW
/*================================================= */

.woocommerce-Reviews .rt-btn {
	width: auto !important;
	border-radius: 3px;
	border: 0;
}

.woocommerce-Reviews input.rt-btn.rt-btn--primary {
	border-color: #222222;
}

/*=================================================;
/* POST - ARCHIVE
/*================================================= */

.rt-post__readmore {
	border-color: transparent;
	border-bottom: 1px solid #d9d9d9;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.rt-post__readmore:hover,
.rt-post__readmore:focus {
	border-color: transparent;
	color: #b16298;
}

/*=================================================;
/* POST - SINGLE
/*================================================= */

.rt-single .rt-badges {
	text-align: center;
}

.rt-single__title {
	text-align: center;
}

.rt-single__meta {
	text-align: center;
}

.rt-single .rt-socmed {
	justify-content: center;
}

/*=================================================;
/* WOOCOMMER GLOBAL HEADING
/*================================================= */

.woocommerce h2 {
	font-size: 1.424rem;
}

.rt-header-block h2 {
	margin-bottom: 0;
}

/*=================================================;
/* PRODUCT - GALLERY
/*================================================= */

/*=================================================;
/* WBS - TITLE
/*================================================= */

.wsb-sticky-product h2,
.wsb-sticky-product__price {
	font-size: 14px;
}

@media screen and (min-width: 768px) {

.is-hidden-md {
	display: none !important;
}

}

@media screen and (min-width: 992px) {

.is-hidden-lg {
	display: none !important;
}

.woocommerce-Reviews .comment-form-author {
	margin-right: 10px !important;
}

.woocommerce-Reviews .comment-wrapper-personal {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}

.woocommerce-Reviews .comment-form-author,
.woocommerce-Reviews .comment-form-email {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

}

@media screen and (min-width: 1201px) {

.is-hidden-xxl {
	display: none !important;
}

}

@media screen and (max-width: 1200px) {

.is-hidden-xl {
	display: none !important;
}

}

@media screen and (max-width: 576px) {

.is-hidden-sm {
	display: none !important;
}

.rt-product__title {
	font-size: 13px !important;
}

.woocommerce h2 {
	font-size: 1.424rem;
}

.woocommerce div.product div.images .flex-control-thumbs {
	display: flex !important;
	justify-content: center;
}

.rt-product-gallery {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -20px;
}

}

@media screen and (max-width: 320px) {

.is-hidden-xs {
	display: none !important;
}

}

