
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/*=================================================
*  Alignments
=================================================== */

figure.alignleft,
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em !important;
}

figure.alignright,
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em !important;
}

figure.aligncenter,
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*=================================================
*  Captions
=================================================== */

.wp-caption {
    position: relative;
    margin-bottom: 1.5em;
    max-width: 100%;
    width: auto !important;
    margin-right: 0;
    margin-left: 0;
    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        height: auto;
    }
    p {
        display: none;
    }
    .wp-caption-text {
        padding: 8px 15px;
        color: $color-primary;
        background-color: $gray-light;
        border: 1px solid $border-color;
        display: block;
        margin-top: -1px;
        margin-bottom: 0;
        text-align: center;
    }
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*=================================================
*  COMMENT
=================================================== */

.js .comment-input {
    display: none;
}
