@import "settings/_variable.scss";
@import "settings/_saudagar.scss";
@import "mixin/**/*scss";
@import "utility/**/*scss";

$color-brand-second: #444;
$color-brand-active: #b16298;

/*=================================================;
/* GLOBAL - BUTTON
/*================================================= */
.rt-btn,
.button {
  text-transform: uppercase;
  padding: 8px 25px;
  font-size: 13px;
}

/*=================================================;
/* GLOBAL - PAGINATION
/*================================================= */

.rt-pagination {
  justify-content: center;
}

.rt-pagination .page-numbers:hover,
.rt-pagination__item:hover {
  background-color: $color-brand;
  border-color: $color-brand;
  color: $color-base;
}

.rt-pagination .page-numbers.current,
.rt-pagination__item.current {
  background-color: $dark-primary;
  border-color: $dark-primary;
  color: $color-base;
}

/*=================================================;
/* GLOBAL - PAGE HEADER
/*================================================= */

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;

  &__title {
    font-size: 27px;
    line-height: 1.4em;
  }
}

// page header on single page
.single .page-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*=================================================;
/* GLOBAL - FOOTER
/*================================================= */

.page-footer {
  &__widget {
    padding-top: 40px;
  }

  &__bottom {
    background-color: $dark-primary;
    border-color: $dark-second;
  }
}

/*=================================================;
/* GLOBAL - BREADCRUMBS
/*================================================= */
.rt-breadcrumbs{
  text-align: center;
}
/*=================================================;
/* GLOBAL - WIDGET
/*================================================= */

.rt-widget--aside {
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .rt-widget {
    &__header {
      padding: 0;
      margin: 0;
      padding-bottom: 15px;
      margin-bottom: 15px;
      background-color: transparent;
    }
  }

  &__title {
    font-size: rem(18px);
  }
}

/*=================================================;
/* GLOBAL - FORM
/*================================================= */
label {
  font-size: 14px;
  font-weight: $font-weight;
}

/*=================================================;
/* WIDGETS - PRICE FILTER
/*================================================= */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: $border-radius;
}

// height bar
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 3px;
}

// state
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background: $color-brand;
  width: 12px;
  height: 12px;
  top: -5px;
}

/*=================================================;
/* WIDGETS - LISTS
/*================================================= */

.widget_archive li,
.widget_categories li,
.widget_list li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_product_categories li,
.widget_rss li,
.woocommerce-widget-layered-nav li {
  border: none;
}

/*=================================================;
/* WIDGETS - POST
/*================================================= */

.page-footer .rt-post-widget {
  .rt-post {
    &__title a {
      color: $color-base;
      font-weight: medium;
      font-size: 14px;
      line-height: 20px;
    }

    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $dark-second;

    &:last-child {
      border: none;
    }
  }
}

/*=================================================;
/* WIDGETS - CALENDAR
/*================================================= */

.widget_calendar #today::before {
  background-color: $color-brand;
  border-radius: $border-radius;
}

/*=================================================;
/* WIDGETS - POST TAB
/*================================================= */

.retheme-widget-post-tab.rt-widget--aside {
  padding: 15px;
  border: 1px solid $border-color;
}

.rt-widget--aside .rt-tab__title::before {
  display: none;
}

.rt-widget--aside .rt-tab__nav li:last-child .rt-tab__title {
  border: none;
}

.rt-widget--aside.retheme-widget-post-tab {
  .rt-tab {
    li {
      flex-grow: 0;
    }

    &__nav {
      border-bottom: 1px solid $border-color;
      margin-bottom: 15px;
      justify-content: space-between;
    }

    &__title {
      background-color: $color-base;
      border: none;
      padding: 0;
      padding-bottom: 10px;

      &.is-active {
        color: $color-brand;
      }
    }

    &__body {
      border: none;
      padding: 0;
    }
  }
}

/*=================================================;
/* GLOBAL - GOTOP
/*================================================= */

.rt-gotop {
  border-radius: $border-radius;
}

/*=================================================;
/* PRODUCT - BADGES
/*================================================= */

.woocommerce {
  span.onsale {
    padding: 3px 5px;
    border-radius: $border-radius;
  }
}

/*=================================================;
/* PRODUCT - ARCHIVE
/*================================================= */

.rt-product {
  &__title {
    font-weight: 400;

    @include media(sm) {
      font-size: 13px !important;
    }
  }

  .button {
    text-transform: uppercase;
    font-size: 13px;
  }
}

/*=================================================;
/* PRODUCT - BADGES
/*================================================= */

.woocommerce {
  span.onsale {
    padding: 3px 5px;
    border-radius: $border-radius;
  }
}

/*=================================================;
/* PRODUCT - TABS
/*================================================= */

.woocommerce-tabs {
  margin-top: 30px;

  .tabs {
    text-align: center;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: none;
  background-color: transparent !important;
  font-size: rem(18px);
  text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li.active {
  color: $color-brand;
}

/*=================================================;
/* PRODUCT - REVIEW
/*================================================= */

.woocommerce-Reviews {
  .rt-btn {
    width: auto !important;
    border-radius: $border-radius;
    border: 0;
  }

  input.rt-btn.rt-btn--primary {
    border-color: #222222;
  }

  @include media-min(lg) {
    .comment-form-author {
      margin-right: 10px !important;
    }

    .comment-wrapper-personal {
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
    }

    .comment-form-author,
    .comment-form-email {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/*=================================================;
/* POST - ARCHIVE
/*================================================= */
.rt-post {
  &__readmore {
    border-color: transparent;
    border-bottom: 1px solid $border-color;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase;
    font-size: 12px;

    &:hover,
    &:focus {
      border-color: transparent;
      color: $color-brand;
    }
  }
}

/*=================================================;
/* POST - SINGLE
/*================================================= */

.rt-single {
  .rt-badges {
    text-align: center;
  }

  &__title {
    text-align: center;
  }

  &__meta {
    text-align: center;
  }

  .rt-socmed {
    justify-content: center;
  }
}

/*=================================================;
/* WOOCOMMER GLOBAL HEADING
/*================================================= */
.woocommerce h2 {
  font-size: map-get($font-sizes, "h3");

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h3");
  }
}

.rt-header-block {
  h2 {
    margin-bottom: 0;
  }
}

/*=================================================;
/* PRODUCT - GALLERY
/*================================================= */
@include media(sm) {
  .woocommerce div.product div.images .flex-control-thumbs {
    display: flex !important;
    justify-content: center;
  }
  .rt-product-gallery {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
  }
}

/*=================================================;
/* WBS - TITLE
/*================================================= */
.wsb-sticky-product{
  h2, &__price{
    font-size: 14px;
  }
}
