:root {
  --theme-color-base: #ffffff;
  --theme-color-primary: #252525;
  --theme-color-second: #3c3c3c;
  --theme-color-thirdty: #7c7e83;
  --theme-color-action: #71b02f;
  --theme-color-brand: #b16298;
  --theme-color-brand-second: #b16298;

  --theme-color-info: #4a90e2;
  --theme-color-success: #60b963;
  --theme-color-warning: #d88519;
  --theme-color-danger: #c64444;

  --theme-link: #b16298;
  --theme-link-hover: #b16298;

  --theme-color-backdrop: rgba(0, 0, 0, 0.82);

  --theme-gray: #E6E6E6;
  --theme-gray-light: #f8f9fa;

  --theme-border-width: 1px;
  --theme-border-radius: 7px;
  --theme-border-color: #E6E6E6;

  --theme-shadow-lg: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1) ;
  --theme-shadow-md: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  --theme-shadow-sm: 0 1px 5px 0 rgba(0, 0, 0, 0.15);

}
