/*=================================================
*  GRID
=================================================== */
$grid-width: 1170px;
$grid-gap: 30px;
$grid-columns: 12;
/*=================================================
*  BREAKPOINTS
=================================================== */
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1201px,
);
/*=================================================
*  CONTAINERS
=================================================== */
$containers: (
  xs: auto,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1170px,
);
/*=================================================
*  FONT
=================================================== */
$font-primary: "Roboto", sans-serif;
$font-second: "Roboto", sans-serif;
/* Font Weight */
$font-weight: 500;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-size: 14px;
$font-size-sm: 0;
$line-height: 1.5;

/* Font Color*/
$color-base: #fff;
$color-primary: #252525;
$color-second: #333;
$color-third: #555;
$color-action: #71b02f;
$color-highlight: #ff5722;
/* Font Color light */
$color-light-primary: rgba($color-base, 0.7);
$color-light-second: rgba($color-base, 0.6);
$color-light-thirdty: rgba($color-base, 0.28);
$color-orange: #d26e4b;
/* Font Size */
$font-sizes: (
  h1: 2.488rem,
  h2: 2.074rem,
  h3: 1.728rem,
  h4: 1.44rem,
  h5: 1.2rem,
  h6: 1rem,
);
$font-sizes-sm: (
  h1: 1.802rem,
  h2: 1.602rem,
  h3: 1.424rem,
  h4: 1.266rem,
  h5: 1.125rem,
  h6: 1rem,
);

/*=================================================
*  Default Color
=================================================== */
$color-brand: #007bff;
$color-info: #4a90e2;
$color-success: #60b963;
$color-warning: #d88519;
$color-danger: #c64444;
$color-backdrop: rgba(0, 0, 0, 0.82);
/*=================================================
*  Link Color
=================================================== */
$link: $color-info;
$link-active: darken($link, 5%);
$link-hover: darken($link, 5%);
$link-focus: darken($link, 5%);
/*=================================================
*  GRAY
=================================================== */
$gray-darken: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: #d3d3d3;
$gray-light: #f8f9fa;
$gray-lighten: lighten(#000, 93.5%);
/*=================================================
*  DARK
=================================================== */
$dark-primary: #282828;
$dark-second: #1e1e1e;
/*=================================================
*  BORDER
=================================================== */
$border-width: 1px;
$border-radius: 3px;
$border-color: #e4e7ec;
/*=================================================
*  SOCIAL MEDIA
=================================================== */
$sosmed: (
  facebook: #3b5998,
  fbmessager: #0084ff,
  twitter: #1da1f2,
  instagram: #125688,
  google-plus: #dd4b39,
  linkedin: #007bb5,
  pinterest: #cb2027,
  youtube: #b00,
  rss: #faa33d,
  vimeo: #35c6ea,
  dribbble: #f7659c,
  skype: #13c1f3,
  wordpress: #2592c3,
  behance: #1879fd,
  dropbox: #17a3eb,
  soundcloud: #ff7e30,
  tumblr: #426d9b,
  github: #3f91cb,
  whatsapp: #25d366,
  telegram: #0088cc,
  bbm: #333333,
  phone: #cc3333,
  email: #6c757d,
);
/*=================================================
*  SHAWDOW
=================================================== */
$box-shadow: 0 7px 25px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.02);

/*=================================================;
/* BUTTON
/*================================================= */
$button-primary-background: $color-brand;
$button-primary-color: $color-base;
$button-second-background: #6c757d;
$button-second-color: $color-base;

/*=================================================;
/* BADGES
/*================================================= */
$badges-background: $color-brand;
$badges-color: $color-base;

$badges-hover-background: lighten($color-brand, 10%);
$badges-hover-color: $color-base;

/*=================================================;
/* PAGINATION
/*================================================= */
$pagination-background: $color-base;
$pagination-color: $color-second;
$pagination-border: $border-color;

$pagination-hover-background: $color-base;
$pagination-hover-color: $color-brand;
$pagination-hover-border: $color-brand;

$pagination-active-background: $color-brand;
$pagination-active-color: $color-base;
$pagination-active-border: $color-brand;

/*=================================================
*  NAVBAR
=================================================== */
$transition-primary: 0.3s linear;
$navbar-bg: "#222";
$navbar-lg-height: 60px;
$navbar-lg-gap: 15px;
$navbar-lg-brand: $color-info;
$navbar-lg-color: #222;
/*=================================================
*  SUBMENU LG
=================================================== */
$navbar-lg-submenu-height: 38px;
$navbar-lg-submenu-width: 220px;
$navbar-lg-submenu-bg: $dark-primary;
$navbar-lg-submenu-color: rgba(255, 255, 255, 0.8);
/*=================================================
*  NAVBAR SMALL
=================================================== */
$navbar-sm-height: 40px;
$navbar-sm-bg: $dark-primary;
$navbar-sm-color: rgba(255, 255, 255, 0.9);
$navbar-sm-border-color: rgba(255, 255, 255, 0.05);
/*=================================================
*  NAVBAR FULL
=================================================== */
$navbar-full-height: 67px;
$navbar-full-bg: $dark-primary;
$navbar-full-color: rgba(255, 255, 255, 0.9);
$navbar-full-border-color: rgba(255, 255, 255, 0.03);
/*=================================================
*  NAVBAR SEARCH
=================================================== */
$search-bg: $dark-primary;
$search-color: #fff;
$search-height: 60px;
