/*=================================================;
/* PRODUCT LIST
/*================================================= */
.rt-cart-item {
  display: flex;
  border-bottom: 1px solid $border-color;
  flex-flow: row wrap;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }

  &__body {
    // padding-right: 60px;
    text-align: left !important;
    flex: 1;
  }

  &__thumbnail {
    width: 70px;
    margin-right: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 1.3em;
  }

  &__meta {
    text-transform: capitalize;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 3px;
  }
  &__quantity{
    position: absolute;
    right: 0;
    top: 0;
  }
  &__remove a{
    position: absolute;
    left: -5px;
    top: 5px;
    text-align: center;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    background-color: $gray-light;
    color: $color-second;
    border: 1px solid $border-color;
    border-radius: 100px;
    z-index: 9;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: $color-danger, $alpha: 0.2);
      border-color: $color-danger;
      color: $color-danger;
    }
  }

  .rt-qty{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 58px;
    float: right;
    .qty{
      border: none;
      font-size: 11px;
      height: 17px;
    }
    span{
      border-radius: 3px;
      height: 17px;
      width: 17px;
      line-height: 13px;
      color: $color-second;
    }
  }
  
  &__price {
    font-size: 12px;
  }
}