/*=================================================;
/* MINI CART
/*================================================= */
.rt-mini-cart {

    .woocommerce-mini-cart__buttons {
        display: flex;
        flex-direction: column;
    }

    .button {
        flex: 1;
    }
}

/*=================================================;
/* PANEL CART
/*================================================= */
.rt-panel-cart {
    .rt-mini-cart {
        .woocommerce-mini-cart {
            position: absolute;
            top: 44px;
            left: 0;
            right: 0;
            bottom: 0;
            margin-bottom: 174px;
            overflow-y: auto;
            padding: 15px;
        }

        &__footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 15px;
            background: $color-base;
            z-index: 9;
        }
    }
    // .woocommerce-mini-cart__buttons a:first-child{ls
    //     display: none;
    // }
}