/*=================================================
*  FILTER
=================================================== */

.rt-shop-filter-wrapper {
  @include clearfix();
}
.woocommerce-result-count {
  float: left;
  margin-top: 8px !important;
  @include media(sm) {
    display: none;
  }
}
.woocommerce-ordering {
  float: right;
  @include media(sm) {
    width: 100%;
  }
  .orderby {
    border-radius: $border-radius;
  }
}
/*=================================================
*  PRODUCT ITEM
=================================================== */

.rt-product {
  position: relative;
  transition: 0.2s;
  height: 100%;
}

/* thumbnail */
.rt-product-cat,
.rt-product .rt-product__thumbnail {
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;

  img {
    width: 100%;
  }
}

.rt-slider .rt-product__thumbnail {
  margin-bottom: 8px;
}

/** Title */

.rt-product .rt-product__title,
.woocommerce-loop-category__title {
  color: $color-primary;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 14px;
}

.rt-product .rt-product__title a {
  color: $color-primary;
}

/* on sale */

.woocommerce span.onsale {
  min-width: auto;
  min-height: auto;
  padding: 5px 10px;
  border-radius: $border-radius;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  background-color: lighten($color-highlight, 40%);
  border: 1px solid $color-highlight;
  color: $color-highlight;
}

.rt-product span.onsale {
  top: 5px;
  right: 5px;
  left: auto;
  margin: 0;
  border-radius: $border-radius;
}

/* rating */

.woocommerce .products .rt-product .star-rating,
.woocommerce.products .rt-product .star-rating {
  float: none;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* body */

.rt-product__body {
  position: relative;
  transition: 0.2s;
  text-align: center;
}

/* price */

.rt-product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce.product .price,
.woocommerce.product span.price {
  display: block;
  color: $color-third;
  font-size: 14px;
  line-height: 14px;
}
.rt-product .price{
  margin-bottom: 20px;
}
// remove underline price text
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce .rt-product .price ins {
  text-decoration: none;
}

/* succes add to cart */
.rt-product .added_to_cart.wc-forward {
  display: none;
  color: $color-success;
}

.rt-product .rt-product__thumbnail .button {
  display: none;
}

.rt-product-archive.js-masonry .rt-product {
  height: auto;
}
/*=================================================
*  PRODUCT STYLE 1
=================================================== */
.rt-product--overlay-btn .rt-product__body .button {
  display: none;
}
.rt-product.rt-product--overlay-btn .rt-product__thumbnail .button {
  display: block;
}
.woocommerce .rt-product--overlay-btn .rt-product__thumbnail a.button,
.woocommerce .rt-product--overlay-btn .rt-product__thumbnail button.button,
.woocommerce .rt-product--overlay-btn .rt-product__thumbnail input.button {
  margin-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  transition: 0.3s;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: $color-base !important;
  background-color: #333333;
  border-color: #333333;
  color: $color-base;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: $color-base !important;
    background-color: #222222;
    border-color: #333333;
  }

  @include media(sm) {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.rt-product--overlay-btn .price{
  margin-bottom: 0;
}
.rt-product--overlay-btn:hover .rt-product__thumbnail .button {
  bottom: 0 !important;
}

.rt-product--overlay-btn:hover .rt-product__thumbnail .button {
  bottom: 0 !important;
}
.rt-slider .rt-product--overlay-btn:hover .rt-product__thumbnail .button {
  bottom: 0 !important;
}

/*=================================================
*  PRODUCT STYLE 2
=================================================== */
.rt-product--frame-1 {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $color-base;
  padding: 10px;
  padding-bottom: 20px;

  &:hover{
    border-color: $color-brand;
    z-index: 1;
  }
}


/*=================================================;
/* CATEGORY LOOP
/*================================================= */

.woocommerce-loop-category__title {
  position: absolute;
  background-color: rgba($color-base, 0.9);
  bottom: 20px;
  color: $color-third;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px !important;
  transition: 0.3s;

  .count {
    background-color: transparent;
    color: $color-third;
    transition: 0.3s;
  }
}

.product-category {
  &:hover {
    .woocommerce-loop-category__title {
      background-color: $color-brand;
      color: $color-base;
    }

    .count {
      color: $color-base;
    }
  }
}
