/*=================================================;
/* MINI CART
/*================================================= */
.rt-mini-cart {
  .woocommerce-mini-cart__buttons {
    display: flex;
    flex-direction: column;
  }

  .button {
    flex: 1;
  }
  &__empty {
    text-align: center;
    margin-top: 60px;
    i {
      font-size: 27px;
      background: $gray-light;
      width: 60px;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      text-align: center;
      border-radius: 100px;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 20px;
    }
  }
}

/*=================================================;
/* PANEL CART
/*================================================= */
.rt-panel-cart {
  .rt-mini-cart {
    .woocommerce-mini-cart {
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 174px;
      overflow-y: auto;
      padding: 15px;
    }

    &__footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 15px;
    }
  }
  //remove Paypal button on panel mini cart
  #woo_pp_ec_button_mini_cart{
    display: none !important;
  }
}
