/*=================================================
*  PRODUCT GALLERY
=================================================== */

.rt-product-galleryy {
  position: relative;
}

.woocommerce-product-gallery {
  width: 100% !important;
  float: auto;

  .flex-viewport {
    margin-bottom: 10px;
  }
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: 100%;
}

.woocommerce div.product div.images .flex-control-thumbs {
  display: block !important;
}

.flex-control-thumbs {
  display: none !important;

  &.owl-loaded {
    display: block !important;
  }
}
.woocommerce-product-gallery__image {
  margin-bottom: 10px;
}
/*=================================================
* PRODUCT SUMMARY
/*================================================= */
.single-product-summary{
  @include media-min(md){
    padding-left: 15px;
  }
}
.single-product-summary .entry-title span{
  text-transform: capitalize;
}
.rt-product__title {
  margin-top: 0;
}

.single-product.woocommerce .product_title {
  margin-bottom: 5px;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  font-weight: $font-weight;
}

/* qty */
.woocommerce div.product form.cart div.quantity {
  margin-right: 10px;
}

/* qty margin buttom */
.woocommerce div.product form.cart {
  margin-bottom: em(10px);
}

/*=================================================
*  ONSALE
=================================================== */

.woocommerce .rt-product-gallery span.onsale {
  top: 10px !important;
  left: 25px !important;
  @include media(sm){
    top: -10px !important;
    left: 10px !important;
  }
}

/*=================================================
*  PRICE
=================================================== */

.wc-single-to-cart {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 15px;
  padding-bottom: 30px;
  overflow: hidden;
}

.wc-single-to-cart_title {
  background-color: $gray-light;
  border-bottom: 1px solid $border-radius;
  display: block;
  padding: 10px 15px;
  position: relative;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3em;
  text-transform: capitalize;
}

.woocommerce div.product .single-product-summary p.price,
.woocommerce div.product .single-product-summary span.price {
  color: $color-third;
  font-size: 21px;
  line-height: 1.3em;
  margin-bottom: 10px;

  @include media(sm) {
    font-size: 18px;
  }
}

/*=================================================
*  SUMMARY
=================================================== */

.sku_wrapper,
.tagged_as,
.posted_in {
  font-weight: $font-weight;
  display: block;

  span {
    font-weight: 400;
  }

  a {
    font-weight: 400;
    color: $color-third;

    &:hover {
      color: $color-second;
    }
  }
}

/* variations */

.variations {
  tr {
    margin-bottom: 10px;
    display: block;
    position: relative;
  }

  .label {
    display: block;
    text-transform: capitalize;
  }

  .value {
    display: block;
  }


  select {
    min-width: 100% !important;
  }
}

/** Select form Variations if sidebar none */

.template--sidebar-none {
  @include media-min(md) {
    .variations {
      width: 355px !important;
    }
  }
}

.single_variation_wrap {
  .woocommerce-variation-price {
    margin-bottom: 10px;
  }
}

.woocommerce-product-details__short-description {
  margin-top: 10px;
  margin-bottom: 15px;
}

// review link
.woocommerce-review-link {
  color: $color-third;
}

/* Button */

.single-product-summary {
  .cart {
    a.rt-btn {
      @include media(sm) {
        margin-left: 0 !important;
      }
    }
    .button,
    .rt-btn {
      margin-bottom: 10px;
      @include media(sm) {
        width: 100%;
      }
    }
  }
}

/* qty */
.single-product-summary {
  @include media(sm) {
    .quantity,
    .input-text.qty {
      width: 100%;
    }
  }
}
/* Summary - Product Meta*/
.product_meta {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
}

/*=================================================
*  TABS
=================================================== */

.woocommerce-tabs {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $border-color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-left: 5px;
}

/* Header border */

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  font-family: $font-primary;
  flex: 1;
  text-align: center;
  background-color: $gray-light;
  border-color: $border-color;
  border-radius: $border-radius $border-radius 0 0;

  &:last-child {
    margin-right: 1px;
  }

  @include media(sm) {
    width: 100%;
  }
}

/* Header title */

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: $color-second;
  font-weight: 400;
}

/* Header border bottom] */

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-color: $border-color;
  left: 10px;
}

/* Remove border radius bottom */

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none;
}

/* text header */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  font-weight: $font-weight;
}

.woocommerce-Reviews-title {
  display: none;
}

@include media(md) {
  .tabs {
    display: flex !important;
    overflow-x: auto !important;
    white-space: nowrap;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 5px !important;
  }

  .tabs li {
    display: inline-block !important;
  }
}

/*=================================================
*  COMMENT LIST
=================================================== */
.woocommerce-review__author{
    font-weight: $font-weight;
    text-transform: capitalize;
}

.single-product ol.commentlist {
  padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin-left: 70px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  border: transparent;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/*=================================================
*  RATING
=================================================== */

.single-product.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 0;
}

.single-product.woocommerce .star-rating span {
  color: orange;
}

.single-product.woocommerce .woocommerce-product-rating {
  margin-bottom: 15px;
}

/*=================================================
*  COMMENT FORM / REVIEWS
=================================================== */

.woocommerce .woocommerce-Reviews {
  .comment-reply-title {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="text"] {
    width: 100%;
  }

  input:not(.rt-btn),
  textarea {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 10.5px 15px;
  }
}

.comment-form-rating .stars a {
  color: orange;
}

/*=================================================;
/* SINGLE PRODUCT REVIEW
/*================================================= */

.woocommerce-Reviews {
  margin-left: -15px;
  margin-right: -15px;

  #comments {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  #review_form_wrapper {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  #review_form {
    border: 1px solid $border-color;
    background-color: $gray-light;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: $border-radius;
  }

  h3.comment-reply-title {
    margin-bottom: 10px !important;
  }
}

.template--sidebar-none .woocommerce-Reviews {
  @include media-min(md) {
    display: flex;
  }

  .rt-btn {
    @include media-min(md) {
      width: 100%;
    }
  }
}

/*=================================================;
/* SINGLE GROUP
/*================================================= */

// label link
.woocommerce-grouped-product-list-item
  .woocommerce-grouped-product-list-item__label
  a {
  color: $color-second;

  &:hover {
    color: $link-active;
  }
}

/*=================================================;
/* ATTRIBUTE
/*================================================= */

.shop_attributes {
  tr {
    tr:nth-child(odd) {
      background-color: $gray-light;
    }
  }
}
.woocommerce div.product form.cart .variations{
  margin-bottom: 0;
}
.woocommerce-variation-price{
  display: none;
}
.woocommerce-product-attributes p{
  margin-bottom: 0;
}
.woocommerce-product-attributes tr:nth-child(even) {
  background-color: $gray-light;
}
