/*=================================================
*  PRODUCT LIST
=================================================== */

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0;
    width: 70px;
    margin-right: 8px;
}

.woocommerce ul.cart_list li .product-title,
.woocommerce ul.product_list_widget li .product-title,
.woocommerce ul.product_list_widget li a {
    color: $color-primary;
    font-weight: $font-weight;
    font-size: 14px;
}

.product_list_widget .quantity {
    font-size: 14px;
}

.woocommerce ul.cart_list li ins,
.woocommerce ul.product_list_widget li ins {
    text-decoration: none;
}

// widget footer
.woocommerce .rt-widget--footer ul.cart_list li .product-title,
.woocommerce .rt-widget--footer ul.product_list_widget li .product-title,
.woocommerce .rt-widget--footer ul.product_list_widget li a {
    color: $color-light-primary;
    font-weight: 400;
}

.woocommerce .product_list_widget .reviewer {
    font-size: 12px;
    color: $color-third;
}

.product_list_widget .quantity .woocommerce-Price-currencySymbol{
    font-size: rem(14px)
}
/*=================================================
*  CART
=================================================== */

.widget_shopping_cart {
    a {
        color: $color-second;
    }

    .remove {
        left: auto !important;
        right: 0;
    }
}

.woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 0;
    padding-right: 20px;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    strong {
        font-weight: $font-weight;
    }
}

/* button merge */

.woocommerce .widget_shopping_cart .buttons::after,
.woocommerce.widget_shopping_cart .buttons::after {
    display: none;
}


.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
    flex-grow: 1;
    text-align: center;
    margin-right: 0;
}

/*=================================================
*  FILTER
=================================================== */
.woocommerce .price_slider_wrapper {
    margin-top: 30px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: $gray;
    margin-bottom: 30px;
    height: 3px;
}

/* price to left */

.woocommerce .widget_price_filter .price_slider_amount {
    text-align: left;
}

/* bottom to right */

.woocommerce .widget_price_filter .price_slider_amount .button {
    float: right;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: $color-brand;
    opacity: .5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background: $color-brand;
    width: 15px;
    height: 15px;
    top: -6px;
}

.widget_price_filter {
    .price_label {
        font-size: 14px;
    }

    .from,
    .to {
        font-weight: $font-weight;
    }
}

/*=================================================
*  SEARCH
=================================================== */

.widget_product_search {
    .woocommerce-product-search {
        position: relative;
    }

    .search-field {
        @extend .rt-form__input;
        width: 100%;
    }

    button {
        background-color: transparent;
        border: none;
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: auto;
        padding: 0;
    }
}

/*=================================================
*  Layered Nav Dropdown
=================================================== */

.woocommerce-widget-layered-nav {
    .select2-container--default .select2-selection--multiple {
        border-color: $border-color;
    }
}