/*=================================================;
/* COUPON & REGISTER
/*================================================= */

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    border: none;
    background-color: transparent;
    color: $color-second;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

.woocommerce-checkout .woocommerce-form-login {
  border: 1px solid $border-color !important;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }
}
.woocommerce-checkout .showlogin {
  color: $color-brand;
}

/*=================================================;
/* BILLING DETAIL
/*================================================= */
.rt-checkout-billing {
  margin-bottom: 30px;
}
.rt-checkout-order{
  @include media(sm){
    border-radius: 0;
    padding: 0!important;
  }
}


.woocommerce-additional-fields h3 {
  display: none;
}

.woocommerce-checkout .place-order{
  padding: 0!important;
}
/*=================================================;
/* SHIPPING
/*================================================= */
#ship-to-different-address {
  margin-left: 3px;
  font-size: 14px;
  input {
    margin-right: 7px;
  }
}
/*=================================================;
/* ORDER REVIEW
/*================================================= */

.woocommerce-checkout-review-order-table td {
  text-align: right;
}

.woocommerce-checkout-review-order {
  background-color: var(--theme-gray-light);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  padding: 15px;
}

/*=================================================;
/* ORDER TABLE
/*================================================= 
* @desc coloun right */

.shop_table.woocommerce-checkout-review-order-table {
  background-color: $color-base;
  thead {
    background-color: $color-base;
  }
  td:last-child {
    text-align: right;
  }
}

/*=================================================
*  PAYMENT
=================================================== */

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: transparent;
}

/* payment box */

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background-color: $color-base;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

/* retagle */

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  border-bottom-color: $border-color;
  top: em(-13px);
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border-color: $border-color;
  padding-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*=================================================
*  CHECKOUT LOGIN
=================================================== */
.woocommerce-form-login-toggle {
  margin-bottom: 5px;

  .woocommerce-info {
    margin-bottom: 10px;
  }
}

.woocommerce-checkout .page-content .woocommerce form.login,
.woocommerce-checkout .page-content .woocommerce form.register {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }

  @include media(sm) {
    .rt-btn {
      width: 100%;
    }
  }
}

/*=================================================
*  CHECKOUT COUPON
=================================================== */
.woocommerce form.checkout_coupon {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;
  background-color: $color-base;
  .rt-form{
    margin-bottom: 0;
  }
  @include media-min(lg) {
    .rt-form{
      display: flex;
    }
    .input-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1px;
    }
    .rt-btn{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include media(sm) {
    .input-text {
      margin-bottom: 10px;
    }

    .rt-btn {
      width: 100%;
      border-radius: $border-radius !important;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    margin-bottom: 15px;
  }
}

// Modal kupon
// move kupon on modal
.rt-coupon-modal-action {
  padding: 15px;
  border: 3px dashed $border-color;
  margin: 20px 2px;
  text-align: center;
  @include media(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.rt-coupon-modal {
  .checkout_coupon {
    border: none !important;
    display: block !important;
    width: 100% !important;
  }
  .rt-form__input {
    margin-bottom: 15px;
  }
}

/*=================================================
* THANK
/*================================================= */
.template--focus.woocommerce-checkout {
  .woocommerce-order {
     @include media-min(lg) {
      width: 590px;
      margin: 0 auto;
    }
  }
}
.wc-bacs-bank-details-heading {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }

  margin-bottom: -10px;
}

.woocommerce-order-details__title {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }
}
.woocommerce .wc-bacs-bank-details-account-name{
  background-color: var(--theme-gray-light);
  border: 1px solid var(--theme-border-color);
  border-top-right-radius: var(--theme-border-radius);
  border-top-left-radius: var(--theme-border-radius);
  padding: 8px 15px;
  margin-bottom: -1px!important;
  font-weight: 500;
  font-size: 1rem;
  line-height: $line-height;
  margin-bottom: 10px;
}

.wc-bacs-bank-details {
  padding: 0;
  border: 1px solid #ebebeb;
  display: block;
}


/* List order bank detail */

.woocommerce ul.order_details {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 0;
  margin-bottom: 20px !important;
   border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.woocommerce ul.order_details li {
  float: none !important;
  margin-right: 0;
  text-transform: none;
  font-size: 1rem;
  line-height: $line-height;
  border-right: none;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid var(--theme-border-color);
  padding: 6px 12px;
}

.woocommerce ul.order_details li strong {
  display: block;
  font-size: 1rem;
  line-height: $line-height;
  text-transform: none;
  margin-left: 10px;
  font-weight: $font-weight;
}

.woocommerce .woocommerce-customer-details address {
  border-color: $border-color;
  border-radius: $border-radius;
}

.woocommerce-notice.woocommerce-thankyou-order-received{
  padding: 0;
  color: var(--theme-color-second);
  background: transparent;
}
.woocommerce .woocommerce-thankyou-order-details{
  border-radius: var(--theme-border-radius)!important;
}
// table
.woocommerce-table--order-details{
    border-collapse: separate !important;
    border-spacing: 0;
}
.woocommerce-table--order-details td, table th {
    border-bottom: 1px solid var(--theme-border-color);
    padding: 10px;
    text-align: left;
}
.woocommerce-table--order-details tfoot tr:last-child th,
.woocommerce-table--order-details tfoot tr:last-child td{
  border-bottom: 0;
}
/*=================================================;
/* FORM CHECKOUT
/*================================================= */
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout .woocommerce-shipping-fields__field-wrapper{
  display: flex;
  flex-flow: row wrap;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p,
.woocommerce-checkout .woocommerce-shipping-fields__field-wrapper p{
  width: 100%!important;;
}
@include media-min(sm) {
  .woocommerce-checkout #billing_state_field,
  .woocommerce-checkout #billing_city_field,
  .woocommerce-checkout #billing_district_field,
  .woocommerce-checkout #shipping_state_field,
  .woocommerce-checkout #shipping_city_field,
  .woocommerce-checkout #shipping_district_field{
    flex: 1;
  }
}

/*=================================================;
/* FORM RADIO
/*================================================= */
#ship-to-different-address {
  font-size: 1em;
  display: inline-block;
  margin: 1.42em 0;
}
#ship-to-different-address label span {
  position: relative;
  display: block;
  text-align: right;
  padding-right: 45px;
  cursor: pointer;
}
#ship-to-different-address label input[type="checkbox"] {
  display: none;
}
#ship-to-different-address label span::before {
  content: "";
  display: block;
  height: 16px;
  width: 30px;
  border: 2px solid $border-color;
  background: $gray;
  border-radius: 13rem;
  box-sizing: content-box;
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#ship-to-different-address label span::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: $color-base;
  position: absolute;
  top: 3px;
  right: 17px;
  border-radius: 13rem;
  transition: all ease-in-out 0.3s;
}

#ship-to-different-address label input[type="checkbox"]:checked + span::before {
  border-color: $color-info;
  background: $color-info;
}
#ship-to-different-address label input[type="checkbox"]:checked + span::after {
  right: 3px;
}

/*=================================================;
/* return cart
/*================================================= */
.rt-return-shop{
  position: relative;
  a{
    font-size: 13px;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    @include media(sm){
      right: 15px;
    }
  }
}