.js .woocommerce .quantity {
  position: relative;

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.quantity {
  .input-text {
    height: 32px;
  }
}
.rt-qty {
  margin-bottom: 10px;
  width: 90px;
  position: relative;
  span {
    height: 38px;
    width: 28px;
    line-height: 38px;

    background: $gray-light;
    border: 1px solid $border-color;

    text-align: center;
    
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;

    &:hover {
      background: $gray;
    }
  }
   .input-text {
    height: 38px;
    // pointer-events: none;
  }

  &__min {
    left: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &__max {
    right: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
.rt-qty--sm{
  width: 75px;
  position: relative;
  font-size: 12px;
  span{
    width: 23px;
  }
  span,.input-text{
    height: 25px;
    line-height: 24px;
  }
}

.no-js {
  .rt-qty {
    &__min {
      display: none;
    }

    &__max {
      display: none;
    }
    .input-text{
      pointer-events: visible;
    }
  }
}

// remove qty if no stock
.quantity.hidden .rt-qty {
  display: none;
}
/*=================================================;
/* WOOCOMMER GLOBAL HEADING
/*================================================= */

.woocommerce h2 {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }
}

.woocommerce .rt-header-block {
  &__title {
    margin-bottom: 0;
  }
}

/*=================================================;
/* RATING
/*================================================= */

.woocommerce .star-rating {
  color: orange;
  font-size: 12px;
  line-height: 1;
  height: 14px;

  &:before {
    color: orange;
  }
}

/*=================================================;
/* PRICE
/*================================================= */
.order-total {
  font-size: 18px;
}

/*=================================================;
/* LAYOUT
/*================================================= */
@media only screen and (min-width: 959px) {
  .product-template--minimalis .page-wrapper .page-container {
    width: 960px;
  }
}

// product template layout
.product-template--left-gallery .rt-product-gallery {
  @media only screen and (min-width: 1200px) {
    .woocommerce-product-gallery {
      padding-left: 97px !important;
    }
    .flex-control-nav {
      max-width: 82%;
    }
    .owl-carousel {
      position: absolute;
      left: -198px;
      top: 171px;
      transform: rotate(90deg);
      width: 470px;
    }

    .owl-item {
      transform: rotate(-90deg);
      width: 83px !important;
    }

    span.onsale {
      left: 120px !important;
    }
  }
}

/*=================================================;
/* HIDDEN BUTTON
/*================================================= */
// hidden button if catalog mode
.catalog-mode .woocommerce-variation-add-to-cart-disabled,
.catalog-mode .rt-btn.rt-btn--action {
  display: none !important;
}
