@include media-min(md) {
  .rt-cart {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-bottom: 30px;
    &__header {
      background-color: $gray-light;
      font-weight: $font-weight;
      border-bottom: 1px solid $border-color;
      padding: 8px 10px;
      .product-name {
        margin-left: 65px;
      }
      .product-remove {
        flex: 0.1;
      }
    }
    &__row {
      display: flex;
      flex-flow: wrap row;
      > span {
        flex: 1;
        padding: 7px 10px;
        display: flex;
        align-items: center;
      }
    }

    &__footer {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      background-color: $gray-light;
      span{
        justify-content: space-between;
        padding: 0;
      }
    }

    /* quantity */
    .quantity {
      width: 94px;
    }
    .rt-qty {
      margin-bottom: 0;
    }

    /* cart item */
    .rt-cart-product {
      &__thumbnail {
        max-width: 70px;
        padding-right: 0;
      }
      &__remove {
        flex: 0.1;
      }
      &__name a {
        color: $color-primary;
      }
    }

    /* coupon */
    .coupon {
      display: flex;
      .input-text {
        margin-right: 10px;
      }
    }
  }
}

@include media(md) {
  .rt-cart {
    margin-bottom: 30px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    &__row {
      > span {
        display: block;
      }
      > span:not(.rt-cart-product__thumbnail) {
        margin-left: 80px;
        margin-bottom: 5px;
      }
    }
    &__header {
      display: none;
    }
    &__footer {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      background-color: $gray-light;
      > span {
        margin: 0 !important;
      }
    }
    /* cart item */
    .rt-cart-product {
      padding: 7px 10px;
      position: relative;
      border-bottom: 1px solid $border-color;
      &__thumbnail {
        max-width: 70px;
        padding-right: 0;
        float: left;
        a {
          display: inline-block;
        }
      }
      &__remove {
        position: absolute;
        top: 7px;
        right: 10px;
      }
      &__name a {
        color: $color-primary;
      }
      &__price {
        color: $color-third;
      }
      &__subtotal{
        font-weight: $font-weight;
      }
    }

    /* quantity */
    .quantity {
      width: 80px;
    }
    .rt-qty {
      margin-bottom: 0;
    }
    /* coupon */
    .coupon {
      display: flex;
      flex-direction: column;
      .input-text {
        margin-bottom: 10px;
      }
    }
  }
}

/*=================================================;
/* CART - COUPON
/*================================================= */
.woocommerce-js.pro .rt-cart .rt-btn--second {
  display: none;
}

/*=================================================
*  CART ITEM
=================================================== */
.woocommerce a.remove {
  background-color: $color-base;
  border: 1px solid $border-color;
  border-radius: $border-radius !important;
  cursor: pointer;
  padding-right: 0;
  color: darken($border-color, 20%) !important;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400 !important;
  width: 16px !important;
  height: 16px !important;
  &:hover {
    border-color: lighten($color-danger, 30);
    background-color: lighten($color-danger, 39);
    color: darken($color-danger, 10) !important;
  }
}

/*=================================================
*  CART TOTAL
=================================================== */
.cart-collaterals {
  background-color: $gray-light;
  border: 1px solid $border-color;
  padding: 15px;
  .shop_table {
    background-color: $color-base;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    td {
      text-align: right;
      background-color: $color-base !important;
    }
  }
  .checkout-button {
    margin-bottom: 20px;
  }
  .cart_totals {
    width: 100% !important;
  }
}

/*=================================================;
/* SHIPPING - CART CALC
/*================================================= */
.shipping-calculator-form {
  text-align: left;
}
